@charset "UTF-8";
/*

@Author: Drection
@URL: http://www.drection.co

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


  // Table of contents //

    01. CUSTOM FONTS
    02. BODY
    03. LINKS
    04. SECTIONS
    05. HTML ELEMENTS
    06. FORM ELEMENTS
    07. CUSTOM CONTAINER
    08. CUSTOM CLASSES
    09. CUSTOM LINK
    10. ODOMETER
    11. ACCORDION
    12. SPLITTING
    13. CUSTOM CURSOR
    14. IMAGE REVEAL
    15. IMAGE REVEAL DELAY
    16. SVG HAMBURGER MENU
    17. MENU NAVIGATION
    18. MENU CONTAINER
    19. PRELOADER
    20. PAGE TRANSITION
    21. PAGE LOADED
    22. VIDEO BG
    23. BG IMAGE
    24. SECTION TITLES
    25. CONTENT SECTION
    26. TOP BAR
    27. BOTTOM BAR
    28. HEADER
    29. PAGE HEADER
    30. SHOWCASE SLIDER
    31. ICON BOX CONTENT
    32. COUNTER
    33. BLOG POST 
    34. BLOG SIDEBAR
    35. CASE CONTENT
    36. WORKS
    37. TEAM SLIDER
    38. TEAM MEMBERS
    39. AWARDS BOX
    40. CONTACT FORM
    41. MAP HOLDER
    42. SIDE ADDRESS
    43. CLIENTS
    44. FOOTER
    45. RESPONSIVE MEDIUM
    46. RESPONSIVE TABLET
    47. RESPONSIVE MOBILE


*/
/* CUSTOM FONTS */
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.eot");
  src: local("☺"), url("../fonts/Mont-Regular.woff") format("woff"), url("../fonts/Mont-Regular.ttf") format("truetype"), url("../fonts/Mont-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.eot");
  src: local("☺"), url("../fonts/Mont-Bold.woff") format("woff"), url("../fonts/Mont-Bold.ttf") format("truetype"), url("../fonts/Mont-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Heavy.eot");
  src: local("☺"), url("../fonts/Mont-Heavy.woff") format("woff"), url("../fonts/Mont-Heavy.ttf") format("truetype"), url("../fonts/Mont-Heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
/* BODY */
* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mont";
  font-size: 12px;
  color: #090c16;
  overflow: hidden;
}

/* LINKS */
a {
  color: #090c16;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #090c16;
}
a:focus {
  outline: none;
}

/* SECTIONS */
header {
  position: relative;
}

section {
  position: relative;
  z-index: 2;
  background: #fff;
}

footer {
  position: relative;
}

main {
  width: 100%;
  overflow: hidden;
}

/* HTML ELEMENTS */
img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

/* FORM ELEMENTS */
input[type=text], input[type=phone], input[type=password], input[type=number], input[type=email], input[type=search] {
  width: 400px;
  max-width: 100%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}

textarea {
  height: 200px;
  border: none;
  font-size: 15px;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 49px, #dadada 50px);
  line-height: 50px;
}

button[type=button], button[type=submit] {
  height: 60px;
  background: #090c16;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 40px;
}

input[type=submit] {
  height: 60px;
  background: #090c16;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 40px;
}

select {
  width: 420px;
  max-width: 100%;
  height: 60px;
  padding: 0 30px;
  border: 1px solid #eee;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) 28px, calc(100% - 25px) 28px, calc(100% - 3.5em) 20px;
  background-size: 5px 5px, 5px 5px, 1px 20px;
  background-repeat: no-repeat;
}

/* CUSTOM CONTAINER */
@media (min-width: 1170px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}
/* CUSTOM CLASSES */
.hide {
  display: none;
}

.overflow {
  overflow: hidden !important;
}

.bg-attachment {
  background-attachment: fixed;
}

.spacing-50 {
  height: 50px;
}

.spacing-100 {
  height: 100px;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.no-bottom-spacing {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.custom-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 !important;
}
.custom-list:last-child {
  margin-bottom: 0;
}
.custom-list li {
  margin: 5px 0;
  padding: 0;
  font-size: 17px;
  list-style: none;
}

.custom-list-sides {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;
}
.custom-list-sides li {
  width: 50%;
  margin: 5px 0;
  padding: 0;
  font-size: 17px;
  list-style: none;
}

.admin-bar .topbar {
  transform: translateY(32px);
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* CUSTOM LINK */
.custom-link {
  font-weight: 600;
  color: #090c16;
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-bottom: 2px;
  margin-top: 20px;
}
.custom-link:hover {
  text-decoration: none;
  color: #090c16;
}
.custom-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.custom-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.custom-link:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.custom-link:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/* ODOMETER */
.odometer {
  line-height: 1;
  padding: 0;
}
.odometer.odometer-auto-theme .odometer-digit {
  padding: 0 !important;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner {
  left: 0 !important;
}
.odometer.odometer-theme-car .odometer-digit {
  padding: 0;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner {
  left: 0;
}
.odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: 0;
}

.odometer-formatting-mark {
  height: 46px;
}

.odometer-inside {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

/* ACCORDION */
.accordion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.accordion .card {
  width: 100%;
  background: none;
  border-radius: 0;
  margin: 0;
  border: none;
}
.accordion .card:last-child .card-body {
  border-bottom: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.accordion .card .card-header {
  background: none;
  padding: 0;
  border-bottom: none;
  margin-bottom: 30px;
}
.accordion .card .card-header small {
  font-size: 11px;
  color: #73efcc;
  font-weight: 600;
}
.accordion .card .card-header a {
  width: 100%;
  float: left;
  padding: 0;
  color: #090c16;
  font-weight: 300;
  font-size: 44px;
}
.accordion .card .card-header a:hover {
  color: #73efcc;
  text-decoration: none;
}
.accordion .card .card-body {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  line-height: 1.7;
  font-weight: 300;
  font-size: 18px;
  padding: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.accordion .card [aria-expanded=true] {
  border: none;
}
.accordion .custom-link {
  font-weight: 400;
}

/* SPLITTING */
.no-split .topbar .hamburger-menu .texts b:last-child {
  display: none;
}

.splitting .word {
  display: inline-block;
}
.splitting .char {
  display: inline-block;
  position: relative;
}

.animated .char {
  display: inline-block;
  animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}

.wow h5:after {
  width: 0 !important;
}
.wow.animated h5:after {
  width: 120px !important;
}

.animated b:after {
  width: 70px !important;
}
.animated figure {
  opacity: 1 !important;
}

.fadeIn {
  opacity: 0;
  transition: all ease 0.6s;
  -webkit-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  transform: translateY(100px);
  transition-delay: 0.4s;
}
.fadeIn.animated {
  opacity: 1;
  transform: translateY(0);
}

/* CUSTOM CURSOR */
.cursor {
  position: fixed;
  top: -30px;
  left: -30px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor:before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background: white;
  transition: all ease 0.15s;
  transform: scale(0.15);
}
.cursor.light:before {
  transform: scale(1);
}

/* IMAGE REVEAL */
.image-reveal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  margin: 0;
  visibility: visible !important;
}
.image-reveal .image-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.image-reveal .image-inner:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all ease 0.5s;
  transition-delay: 0.3s;
}
.image-reveal .image-inner:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: all ease 0.5s;
  transition-delay: 0s;
}
.image-reveal .image-inner img {
  transform: scale(1.8);
  transition: all ease 0.8s;
  z-index: 1;
  transition-delay: 0.1s;
}
.image-reveal.animated .image-inner:before, .image-reveal.animated .image-inner:after {
  height: 0;
}
.image-reveal.animated .image-inner img {
  transform: scale(1);
}

/* IMAGE REVEAL DELAY */
div, li {
  text-indent: inherit;
}
div:nth-child(2) .image-reveal .image-inner:before, li:nth-child(2) .image-reveal .image-inner:before {
  transition-delay: 0.4s;
}
div:nth-child(2) .image-reveal .image-inner:after, li:nth-child(2) .image-reveal .image-inner:after {
  transition-delay: 0.1s;
}
div:nth-child(2) .image-reveal .image-inner img, li:nth-child(2) .image-reveal .image-inner img {
  transition-delay: 0.2s;
}
div:nth-child(3) .image-reveal .image-inner:before, li:nth-child(3) .image-reveal .image-inner:before {
  transition-delay: 0.5s;
}
div:nth-child(3) .image-reveal .image-inner:after, li:nth-child(3) .image-reveal .image-inner:after {
  transition-delay: 0.2s;
}
div:nth-child(3) .image-reveal .image-inner img, li:nth-child(3) .image-reveal .image-inner img {
  transition-delay: 0.3s;
}
div:nth-child(4) .image-reveal .image-inner:before, li:nth-child(4) .image-reveal .image-inner:before {
  transition-delay: 0.5s;
}
div:nth-child(4) .image-reveal .image-inner:after, li:nth-child(4) .image-reveal .image-inner:after {
  transition-delay: 0.3s;
}
div:nth-child(4) .image-reveal .image-inner img, li:nth-child(4) .image-reveal .image-inner img {
  transition-delay: 0.4s;
}

/* PAGINATION */
.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.pagination .page-numbers {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.pagination .page-numbers li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.pagination .page-numbers li .page-numbers {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border: 1px solid #eee;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 600;
}
.pagination .page-numbers li .page-numbers.current {
  background: #090c16;
  border-color: #090c16;
  color: #fff;
}
.pagination .page-item {
  display: inline-block;
}
.pagination .page-item .page-link {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  border-radius: 0 !important;
  font-size: 12px;
  font-weight: 600;
  color: #090c16;
  outline: none !important;
}
.pagination .page-item .page-link:focus {
  outline: none !important;
}

/* SVG HAMBURGER MENU */
.hamburger-menu {
  display: flex;
}
.hamburger-menu svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger-menu svg path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger-menu svg path:nth-child(1) {
  transform-origin: 36% 40%;
}
.hamburger-menu svg path:nth-child(2) {
  stroke-dasharray: 29 299;
}
.hamburger-menu svg path:nth-child(3) {
  transform-origin: 35% 63%;
}
.hamburger-menu svg path:nth-child(4) {
  stroke-dasharray: 29 299;
}
.hamburger-menu svg path:nth-child(5) {
  transform-origin: 61% 52%;
}
.hamburger-menu svg path:nth-child(6) {
  transform-origin: 62% 52%;
}
.hamburger-menu.active svg {
  transform: rotate(90deg);
}
.hamburger-menu.active svg path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.hamburger-menu.active svg path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.hamburger-menu.active svg path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger-menu.active svg path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.hamburger-menu.active svg path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.hamburger-menu.active svg path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* MENU NAVIGATION */
.menu-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  visibility: hidden;
}
.menu-navigation * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.menu-navigation .layers {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background: #73efcc;
}
.menu-navigation .layers span {
  width: 100%;
  left: -100%;
  background: #090c16;
}
.menu-navigation .layers span:nth-child(1) {
  height: 33.3333%;
  position: absolute;
  top: 0;
  transition-delay: 0.25s;
}
.menu-navigation .layers span:nth-child(2) {
  height: 33.3333%;
  position: absolute;
  top: 33.33333%;
  transition-delay: 0.5s;
}
.menu-navigation .layers span:nth-child(3) {
  height: 33.3333%;
  position: absolute;
  top: 66.66666%;
  transition-delay: 0.75s;
}
.menu-navigation.active {
  visibility: visible;
}
.menu-navigation.active .layers {
  left: 0;
}
.menu-navigation.active .layers span {
  left: 0;
}

/* MENU CONTAINER */
.menu-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(0);
  z-index: 8;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transition-delay: 1s;
}
.menu-container .main-menu {
  display: inline-block;
  margin: 0;
  padding: 0 15%;
}
.menu-container .main-menu li {
  display: inline-block;
  line-height: 1;
  margin: 0 3vw;
  padding: 0;
  list-style: none;
}
.menu-container .main-menu li a {
  font-weight: 800;
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 8vw;
}
.menu-container .main-menu li a:hover {
  text-decoration: none;
}
.menu-container .main-menu li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.menu-container .main-menu li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
}
.menu-container .main-menu li a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.menu-container .main-menu li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.menu-container.active {
  visibility: visible;
  transform: translateY(-50%);
  opacity: 1;
}

/* PRELOADER */
.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2s;
}
.preloader * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.preloader .layers {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #73efcc;
  transition-delay: 1.75s;
}
.preloader .layers span {
  width: 100%;
  height: 33.4%;
  position: absolute;
  left: 0;
  background: #090c16;
}
.preloader .layers span:nth-child(1) {
  top: 0;
  transition-delay: 1s;
}
.preloader .layers span:nth-child(2) {
  top: 33.33333%;
  transition-delay: 1.25s;
}
.preloader .layers span:nth-child(3) {
  top: 66.66666%;
  transition-delay: 1.5s;
}
.preloader .container-fluid {
  position: relative;
  text-align: center;
  color: #fff;
}
.preloader .container-fluid small {
  display: inline-block;
  letter-spacing: 1px;
  transition-delay: 0.6s;
}
.preloader .container-fluid small .char {
  display: inline-block;
  animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}
.preloader .container-fluid figure {
  margin-bottom: 5px;
  transition-delay: 0.5s;
}
.preloader .container-fluid figure img {
  height: 30px;
  animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
}
.preloader .container-fluid .percentage {
  width: 100%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  line-height: 1;
  font-size: 40vw;
  font-weight: 800;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
  opacity: 0.1;
  transition-delay: 0.8s;
}
.preloader .container-fluid .percentage #percentage {
  animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: 0.3s;
}

/* PAGE TRANSITION */
.page-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  visibility: hidden;
}
.page-transition * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.page-transition .layers {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background: #73efcc;
}
.page-transition .layers span {
  width: 100%;
  left: -100%;
  background: #090c16;
}
.page-transition .layers span:nth-child(1) {
  height: 33.3333%;
  position: absolute;
  top: 0;
  transition-delay: 0.25s;
}
.page-transition .layers span:nth-child(2) {
  height: 33.3333%;
  position: absolute;
  top: 33.33333%;
  transition-delay: 0.5s;
}
.page-transition .layers span:nth-child(3) {
  height: 33.3333%;
  position: absolute;
  top: 66.66666%;
  transition-delay: 0.75s;
}
.page-transition.active {
  visibility: visible;
}
.page-transition.active .layers {
  left: 0;
}
.page-transition.active .layers span {
  left: 0;
}

/* PAGE LOADED */
.page-loaded {
  overflow: inherit;
}
.page-loaded .preloader {
  left: -100%;
}
.page-loaded .preloader .container-fluid figure {
  transform: translateY(-20px);
  opacity: 0;
}
.page-loaded .preloader .container-fluid small {
  transform: translateY(-10px);
  opacity: 0;
}
.page-loaded .preloader .container-fluid .percentage {
  opacity: 0;
  transform: translateY(-60%);
}
.page-loaded .preloader .layers {
  left: -100%;
}
.page-loaded .preloader .layers span {
  left: -100%;
}
.page-loaded .topbar {
  top: 0;
}
.page-loaded .bottombar {
  bottom: 0;
}
.page-loaded.header-ready .showcase-slider .swiper-wrapper {
  transform: translateX(0);
}
.page-loaded.header-ready .showcase-slider .swiper-slide.swiper-slide-active .slide-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition-delay: 0.8s;
}
.page-loaded.header-ready .showcase-slider .swiper-slide.swiper-slide-active .slide-image-mobile {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition-delay: 0.8s;
}
.page-loaded.header-ready .page-header .video-bg {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0.4s;
}
.page-loaded.header-ready .page-header h1 {
  text-indent: inherit;
}
.page-loaded.header-ready .page-header h1 .char {
  opacity: 1;
  transform: translateY(0);
}
.page-loaded.header-ready .page-header p {
  text-indent: inherit;
  opacity: 0.6;
  transform: translateY(0);
}
.page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small .char {
  opacity: 1;
  transform: translateY(0);
}
.page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small:after {
  width: 120px;
}
.page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner h1 .char, .page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner .link {
  opacity: 1;
  transform: translateY(0);
}
.page-loaded .showcase-slider .swiper-controls {
  left: 25px;
}
.page-loaded .showcase-slider .swiper-pagination {
  right: 25px;
}

/* BODY WITH PRELOADER */
body .topbar {
  top: -100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2.1s;
}

body .showcase-slider .swiper-wrapper {
  transform: translateX(100%);
  transition: 0.7s;
  transition-duration: 0;
  -webkit-transition-duration: 0;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.body-hamburger-menu .topbar .hamburger-menu {
  display: flex;
  margin-left: auto;
}

/* NO PRELOADER */
.no-preloader {
  overflow: inherit;
}
.no-preloader .preloader {
  left: -100%;
}
.no-preloader .preloader .container-fluid figure {
  transform: translateY(-20px);
  opacity: 0;
}
.no-preloader .preloader .container-fluid small {
  transform: translateY(-10px);
  opacity: 0;
}
.no-preloader .preloader .container-fluid .percentage {
  opacity: 0;
  transform: translateY(-60%);
}
.no-preloader .preloader .layers {
  left: -100%;
}
.no-preloader .preloader .layers span {
  left: -100%;
}
.no-preloader .topbar {
  top: 0;
}
.no-preloader .bottombar {
  bottom: 0;
}
.no-preloader .page-header .video-bg {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0s;
}
.no-preloader .page-header .char {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition-delay: 0s !important;
}
.no-preloader .page-header h1 {
  text-indent: inherit;
  transition-delay: 0s;
}
.no-preloader .page-header p {
  text-indent: inherit;
  opacity: 0.6 !important;
  transform: translateY(0) !important;
  transition-delay: 0s !important;
}
.no-preloader .showcase-slider .swiper-wrapper {
  transform: translateX(0);
}
.no-preloader .showcase-slider .swiper-slide.swiper-slide-active .slide-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition-delay: 0s;
}
.no-preloader .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small .char {
  opacity: 1;
  transform: translateY(0);
}
.no-preloader .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small:after {
  width: 120px;
}
.no-preloader .showcase-slider .swiper-slide.swiper-slide-active .slide-inner h1 .char {
  opacity: 1;
  transform: translateY(0);
}
.no-preloader .showcase-slider .swiper-slide.swiper-slide-active .slide-inner .link {
  opacity: 1;
  transform: translateY(0);
}
.no-preloader .showcase-slider .swiper-controls {
  left: 25px;
}
.no-preloader .showcase-slider .swiper-pagination {
  right: 25px;
}

/* VIDEO BG */
.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.video-bg video {
  min-width: 100%;
  min-height: 100%;
  float: left;
  opacity: 0.1;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* BG IMAGE */
.bg-image {
  background-size: cover !important;
  background-position: center !important;
  color: #fff;
}

/* 404 ERROR */
.error-404 {
  text-align: center;
}
.error-404 img {
  display: inline-block;
  margin-bottom: 40px;
}
.error-404 .search-field {
  border: 1px solid #eee;
  padding: 0 15px;
}
.error-404 .screen-reader-text {
  display: none;
}

/* SECTION TITLES */
.section-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.section-titles h2 {
  width: 100%;
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 0;
  padding-right: 10%;
  line-height: 1.4;
  z-index: 2;
}
.section-titles h5 {
  font-size: 12px;
  letter-spacing: 3px;
  display: inline-block;
  position: relative;
}
.section-titles h5:after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #73efcc;
  margin: 3px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.4s;
}

/* CONTENT-SECTION */
.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: block;
  position: relative;
  overflow: hidden;
}

.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vc_row {
  margin-left: 0;
  margin-right: 0;
}
.vc_row .vc_row {
  margin-left: -15px;
  margin-right: -15px;
}

/* TOPBAR */
.topbar {
  width: 100%;
  line-height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  font-weight: 600;
}
.topbar .logo {
  margin-left: 0;
}
.topbar .logo a {
  display: block;
}
.topbar .logo a img {
  height: 36px;
  display: block;
}
.topbar .languages {
  margin-left: 60px;
  margin-right: auto;
}
.topbar .languages ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.topbar .languages ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 35px;
}
.topbar .languages ul li a {
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.topbar .languages ul li a:hover {
  text-decoration: none;
}
.topbar .languages ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.topbar .languages ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.topbar .languages ul li a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.topbar .languages ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.topbar .languages ul li:last-child:after {
  display: none;
}
.topbar .languages ul li:after {
  content: "";
  width: 1px;
  height: 35px;
  float: right;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 25px;
}
.topbar .horizontal-menu {
  margin-left: auto;
  margin-right: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.topbar .horizontal-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.topbar .horizontal-menu .horizontal-main-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.topbar .horizontal-menu .horizontal-main-menu li {
  margin: 0;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  position: relative;
}
.topbar .horizontal-menu .horizontal-main-menu li:first-child {
  margin-left: 0;
}
.topbar .horizontal-menu .horizontal-main-menu li:hover .dropdown-menu {
  top: 100%;
  display: block;
}
.topbar .horizontal-menu .horizontal-main-menu li:hover .dropdown-menu .dropdown-menu {
  display: none;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu {
  min-width: 200px;
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 120%;
  background: #73efcc;
  margin: 0;
  padding: 10px 0;
  border: none;
  border-radius: 0;
  display: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu a:before, .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu a:after {
  display: none !important;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li {
  width: 100%;
  margin: 0;
  padding: 0 25px;
  white-space: nowrap;
  position: relative;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li:hover .dropdown-menu {
  display: block;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li:hover .dropdown-menu .dropdown-menu {
  display: none;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li ul {
  background: #6bdcbc;
  top: 0 !important;
  left: 100%;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li ul li {
  width: 100%;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li ul li:hover .dropdown-menu {
  display: block !important;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li ul li .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  background: #5ec3a7;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li ul li .dropdown-menu:before {
  content: "";
  border-color: transparent transparent #5ec3a7 transparent;
  right: -15px;
  left: auto;
  top: 30px;
  transform: rotate(90deg);
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a {
  padding: 6px 0;
  font-size: 14px;
  color: #090c16;
  line-height: 1;
}
.topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a:hover {
  border-color: transparent;
  color: #090c16;
}
.topbar .horizontal-menu .horizontal-main-menu li i {
  font-size: 9px;
  color: #fff;
  margin-left: 5px;
  margin-top: 3px;
}
.topbar .horizontal-menu .horizontal-main-menu li a {
  font-weight: 600;
  color: #fff;
  padding: 0;
  font-size: 13px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.topbar .horizontal-menu .horizontal-main-menu li a:hover {
  text-decoration: none;
  background: none;
}
.topbar .horizontal-menu .horizontal-main-menu li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.topbar .horizontal-menu .horizontal-main-menu li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.topbar .horizontal-menu .horizontal-main-menu li a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.topbar .horizontal-menu .horizontal-main-menu li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.topbar .hamburger-menu {
  margin-right: 0;
  margin: -12px 0;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 2;
}
.topbar .hamburger-menu .texts {
  display: inline-block;
  position: relative;
  margin-top: 3px;
}
.topbar .hamburger-menu .texts b {
  color: #fff;
  font-weight: 600;
}
.topbar .hamburger-menu .texts b * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.topbar .hamburger-menu .texts b:first-child {
  display: inline-block;
}
.topbar .hamburger-menu .texts b:last-child {
  position: absolute;
  left: 0;
  top: 0;
}
.topbar .hamburger-menu .texts b:last-child .char {
  transform: translateY(10px);
  opacity: 0;
}
.topbar .hamburger-menu .texts b .char {
  transition-delay: calc(10ms * var(--char-index));
}
.topbar .hamburger-menu .svg {
  margin-right: -10px;
}
.topbar .hamburger-menu.active .texts b:first-child .char {
  transform: translateY(-10px);
  opacity: 0;
}
.topbar .hamburger-menu.active .texts b:last-child .char {
  transform: translateY(0);
  opacity: 1;
}

/* BOTTOM BAR */
.bottombar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  padding: 15px 60px;
  left: 0;
  bottom: -100%;
  z-index: 2;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2.2s;
}
.bottombar .social-media {
  margin-left: 0;
}
.bottombar .social-media ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.bottombar .social-media ul li {
  margin-right: 30px;
  padding: 0;
  list-style: none;
}
.bottombar .social-media ul li a {
  font-weight: 600;
  color: #fff;
  display: block;
  position: relative;
  z-index: 2;
}
.bottombar .social-media ul li a:hover {
  text-decoration: none;
}
.bottombar .social-media ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.bottombar .social-media ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.bottombar .social-media ul li a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.bottombar .social-media ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.bottombar .audio {
  margin-right: 0;
  margin-left: auto;
  color: #fff;
}
.bottombar .audio #wave {
  width: 50px;
  height: 30px;
  margin: 0 10px;
}
.bottombar .audio #wave polyline {
  transform: translateY(50%);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10;
}
.bottombar .audio .texts {
  display: inline-block;
  position: relative;
}
.bottombar .audio .texts b {
  color: #fff;
  font-weight: 600;
  min-width: 20px;
}
.bottombar .audio .texts b * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.bottombar .audio .texts b:first-child {
  display: inline-block;
}
.bottombar .audio .texts b:last-child {
  position: absolute;
  left: 0;
  top: 0;
}
.bottombar .audio .texts b:last-child .char {
  transform: translateY(10px);
  opacity: 0;
}
.bottombar .audio .texts b .char {
  transition-delay: calc(10ms * var(--char-index));
}
.bottombar .audio.switch .texts b:first-child .char {
  transform: translateY(-10px);
  opacity: 0;
}
.bottombar .audio.switch .texts b:last-child .char {
  transform: translateY(0);
  opacity: 1;
}

/* HEADER */
.header {
  width: 100%;
  height: 100vh;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
  background: #090c16;
  position: relative !important;
  z-index: 1;
  overflow: hidden;
}

.hero-header {
  min-width: 100vw;
}

/* PAGE HEADER*/
.page-header {
  width: 100%;
  height: 100vh;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #090c16;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
}
.page-header * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.page-header .video-bg {
  opacity: 0;
  transform: scale(1.3);
}
.page-header .container-fluid {
  padding: 0 14vw;
  position: relative;
  z-index: 1;
}
.page-header .container-fluid h1 {
  font-size: 8vw;
  font-weight: 800;
  letter-spacing: -3px;
}
.page-header .container-fluid h1 .char {
  opacity: 0;
  transform: translateY(120px);
  transition-delay: calc(1s + 10ms * var(--char-index));
}
.page-header .container-fluid p {
  font-size: 19px;
  letter-spacing: 1px;
  opacity: 0;
  transform: translateY(50px);
  transition-delay: 1.2s;
  font-weight: 400;
}

/* SHOWCASE SLIDER */
.showcase-slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.showcase-slider * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.showcase-slider .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.showcase-slider .swiper-slide .slide-image {
  width: 60%;
  height: 50%;
  position: absolute;
  left: 20%;
  top: 25%;
  background-size: cover;
  background-position: center;
  transition-delay: 0.2s;
}
.showcase-slider .swiper-slide .slide-image-mobile {
  width: 60%;
  height: 50%;
  position: absolute;
  left: 20%;
  top: 25%;
  background-size: cover;
  background-position: center;
  transition-delay: 0.2s;
  display: none;
}
.showcase-slider .swiper-slide .slide-inner {
  position: relative;
  z-index: 2;
  display: block;
}
.showcase-slider .swiper-slide .slide-inner small {
  font-size: 12px;
  letter-spacing: 3px;
  display: inline-block;
  position: relative;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.showcase-slider .swiper-slide .slide-inner small .char {
  opacity: 0;
  transform: translateY(10px);
  transition-delay: calc(1s + 10ms * var(--char-index));
}
.showcase-slider .swiper-slide .slide-inner small:after {
  content: "";
  width: 0;
  height: 1px;
  display: inline-block;
  background: #73efcc;
  margin: 3px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 1.4s;
}
.showcase-slider .swiper-slide .slide-inner h1 {
  display: block;
  color: #fff;
  font-weight: 800;
  font-size: 110px;
  letter-spacing: -5px;
  margin-bottom: 60px;
}
.showcase-slider .swiper-slide .slide-inner h1 b {
  color: #73efcc;
  margin-left: 100px;
}
.showcase-slider .swiper-slide .slide-inner h1 .char {
  opacity: 0;
  transform: translateY(60px);
  transition-delay: calc(1s + 10ms * var(--char-index));
}
.showcase-slider .swiper-slide .slide-inner .link {
  display: inline-block;
  opacity: 0;
  transition-delay: 1.4s;
  transform: translateY(40px);
}
.showcase-slider .swiper-slide .slide-inner .link a {
  display: flex;
  flex-wrap: wrap;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  position: relative;
  padding: 8px 0;
}
.showcase-slider .swiper-slide .slide-inner .link a:hover {
  text-decoration: none;
}
.showcase-slider .swiper-slide .slide-inner .link a * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.showcase-slider .swiper-slide .slide-inner .link a b {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 56px;
  border: 2px solid #73efcc;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-right: 20px;
}
.showcase-slider .swiper-slide .slide-inner .link a .words {
  display: inline-block;
  position: relative;
}
.showcase-slider .swiper-slide .slide-inner .link a .words .first {
  display: inline-block;
}
.showcase-slider .swiper-slide .slide-inner .link a .words .second {
  position: absolute;
  left: 0;
  top: 0;
}
.showcase-slider .swiper-slide .slide-inner .link a .words .second .char {
  transform: translateY(10px);
  opacity: 0;
  color: #73efcc;
}
.showcase-slider .swiper-slide .slide-inner .link a .words .char {
  transition-delay: calc(10ms * var(--char-index));
}
.showcase-slider .swiper-slide .slide-inner .link a:hover b {
  background: #73efcc;
  color: #090c16;
  box-shadow: 0 0 8px #73efcc;
}
.showcase-slider .swiper-slide .slide-inner .link a:hover .first .char {
  opacity: 0;
  transform: translateY(-10px);
}
.showcase-slider .swiper-slide .slide-inner .link a:hover .second .char {
  opacity: 1;
  transform: translateY(0);
}
.showcase-slider .swiper-controls {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(-90deg);
  position: absolute;
  left: -100%;
  top: 50%;
  transform-origin: left;
  z-index: 4;
  transition-delay: 2.2s;
}
.showcase-slider .swiper-button-prev, .showcase-slider .swiper-button-next {
  width: auto;
  height: auto;
  background: none;
  position: static;
  margin: 0 10px;
}
.showcase-slider .swiper-button-prev span, .showcase-slider .swiper-button-next span {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
}
.showcase-slider .swiper-pagination {
  width: 16px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  left: auto;
  transition-delay: 2.2s;
}
.showcase-slider .swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: none;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  margin: 5px 0;
  opacity: 0.5;
}
.showcase-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

/* ICON CONTENT BOX */
.icon-content-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.icon-content-box figure {
  width: 100px;
  display: flex;
  align-content: center;
  margin-top: 4px;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.icon-content-box figure img {
  width: auto;
  height: 50px;
}
.icon-content-box .content {
  width: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
}
.icon-content-box .content b {
  width: 106px;
  display: inline-block;
  color: #727479;
  position: relative;
  margin-left: -23px;
  font-size: 13px;
}
.icon-content-box .content b:after {
  content: "";
  width: 0;
  height: 1px;
  background: #73efcc;
  position: absolute;
  left: 25px;
  top: 9px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.2s;
}
.icon-content-box .content h6 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 3px 0;
}
.icon-content-box .content p {
  margin-bottom: 0;
  margin-top: 20px;
  padding-right: 15%;
  line-height: 1.8;
  font-size: 17px;
}
.icon-content-box .content p strong {
  color: #73efcc;
}

/* COUNTER */
.counter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.counter .odometer {
  height: 60px;
}
.counter .odometer span {
  font-size: 44px;
}
.counter strong {
  font-weight: 400;
  font-size: 24px;
  color: #73efcc;
  margin-left: 5px;
}
.counter small {
  width: 100%;
  display: block;
  font-size: 17px;
}

/* BLOG POST */
.blog-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  font-size: 16px;
}
.blog-post:last-child, .blog-post.single-post {
  margin-bottom: 0;
}
.blog-post.sticky {
  border: 1px solid #eee;
  padding: 30px;
  position: relative;
}
.blog-post.sticky:before {
  content: "";
  width: 14px;
  height: 25px;
  background: #090c16;
  position: absolute;
  right: 30px;
  top: -10px;
}
.blog-post.sticky:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 6px 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 30px;
  top: 9px;
}
.blog-post .post-image {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.blog-post .post-image img {
  width: 100%;
}
.blog-post .post-content {
  width: 100%;
  display: block;
  padding: 0;
  background: #fff;
  position: relative;
  z-index: 2;
}
.blog-post .post-content .post-wor {
  width: 100%;
  display: block;
}
.blog-post .post-content .post-date {
  width: 100%;
  display: block;
  color: #727479;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.blog-post .post-content .post-title {
  width: 100%;
  display: block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.blog-post .post-content .post-title a {
  color: #090c16;
}
.blog-post .post-content .post-title a:hover {
  color: #73efcc;
  text-decoration: none;
}
.blog-post .post-content .post-author {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-size: 13px;
}
.blog-post .post-content .post-author img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
.blog-post .post-content .post-author b {
  color: #727479;
  font-weight: 400;
}
.blog-post .post-content .post-author b a {
  color: #090c16;
}
.blog-post .post-content .post-author b a:hover {
  text-decoration: none;
}
.blog-post .post-content .post-tags {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 0;
}
.blog-post .post-content .post-tags li {
  display: inline-block;
  margin: 3px 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}
.blog-post .post-content .post-tags li a {
  background: #73efcc;
  color: #090c16;
  padding: 4px 12px;
  font-size: 11px;
}
.blog-post .post-content .social-share {
  width: 100%;
  float: left;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
}
.blog-post .post-content .social-share li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.blog-post .post-content .social-share li.facebook a {
  background: #475993;
}
.blog-post .post-content .social-share li.twitter a {
  background: #76a9ea;
}
.blog-post .post-content .social-share li.google-plus a {
  background: #f34a38;
}
.blog-post .post-content .social-share li.linkedin a {
  background: #0077b7;
}
.blog-post .post-content .social-share li.youtube a {
  background: #f61c0d;
}
.blog-post .post-content .social-share li a {
  line-height: 44px;
  float: left;
  padding: 0 20px;
  background: #090c16;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 0;
}
.blog-post .post-content .wp-block-button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.blog-post .post-content .wp-block-button:last-child {
  margin-bottom: 0;
}
.blog-post .post-content .wp-block-button__link {
  background: #090c16;
  font-size: 13px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 50px;
}
.blog-post .post-content .wp-block-button.is-style-outline .wp-block-button__link {
  background: none;
}
.blog-post .post-content .wp-block-cover {
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-cover.has-background-dim .wp-block-cover-text {
  color: #fff;
}
.blog-post .post-content .wp-block-gallery {
  width: 100%;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-gallery .blocks-gallery-caption {
  font-size: 13px;
}
.blog-post .post-content .wp-block-gallery .blocks-gallery-item figure {
  width: 100%;
  position: relative;
}
.blog-post .post-content .wp-block-gallery .blocks-gallery-item figure figcaption {
  padding: 10px;
  bottom: 0;
}
.blog-post .post-content .wp-block-quote {
  padding: 0 30px;
  border-left: 3px solid #4c139c;
  color: #090c16;
  background: none;
  margin: 20px 0;
}
.blog-post .post-content .wp-block-quote a {
  color: #090c16;
}
.blog-post .post-content .wp-block-quote cite {
  font-family: georgia;
  font-style: italic;
  font-size: 13px;
}
.blog-post .post-content .wp-block-quote cite br {
  display: none;
}
.blog-post .post-content .blocks-gallery-grid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.blog-post .post-content .wp-block-group.has-background {
  padding: 30px;
}
.blog-post .post-content .has-background {
  margin-bottom: 20px;
}
.blog-post .post-content .more-link {
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}
.blog-post .post-content .gallery {
  display: block;
  margin-bottom: 40px;
}
.blog-post .post-content .gallery .gallery-item {
  position: relative;
}
.blog-post .post-content .gallery .gallery-item .gallery-caption {
  font-size: 13px;
  color: #727479;
}
.blog-post .post-content .gallery .gallery-item a {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.blog-post .post-content .gallery .gallery-item a img {
  width: 100%;
  height: auto;
}
.blog-post .post-content .wp-block-archives {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
}
.blog-post .post-content .wp-block-archives li {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.blog-post .post-content .wp-block-archives li .comment-author-link a {
  text-decoration: none;
  font-weight: 600;
}
.blog-post .post-content .wp-block-archives li a {
  margin: 0;
  color: #090c16;
  text-decoration: underline;
}
.blog-post .post-content .wp-block-archives li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.blog-post .post-content .wp-block-calendar {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-calendar caption {
  width: 100%;
  padding-bottom: 20px;
  font-weight: 600;
  color: #727479;
}
.blog-post .post-content .wp-block-calendar a {
  display: inline-block;
  color: #090c16;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
}
.blog-post .post-content .wp-block-table {
  width: 100%;
  display: block;
}
.blog-post .post-content .wp-block-table a {
  color: #090c16;
}
.blog-post .post-content .wp-block-table table {
  width: 100%;
  border: 1px solid #f3f4f5;
}
.blog-post .post-content .wp-block-table table tr {
  border-bottom: 1px solid #f3f4f5;
}
.blog-post .post-content .wp-block-table table td {
  height: 50px;
  padding: 0 20px;
}
.blog-post .post-content .wp-block-search {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-search .wp-block-search__label {
  display: none;
}
.blog-post .post-content .wp-block-search input[type=search] {
  border: 1px solid #eee;
  padding: 0 15px;
}
.blog-post .post-content .wp-block-categories {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-latest-comments {
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-latest-comments .wp-block-latest-comments__comment-author {
  text-decoration: none;
  font-weight: 600;
}
.blog-post .post-content .wp-block-latest-comments a {
  text-decoration: underline;
}
.blog-post .post-content .wp-block-latest-comments p {
  font-weight: 400;
  padding: 0;
  border: none;
  text-transform: inherit;
}
.blog-post .post-content .wp-block-latest-posts {
  padding: 0;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-tag-cloud {
  font-weight: 400;
  margin-bottom: 40px;
}
.blog-post .post-content .wp-block-tag-cloud a {
  display: inline-block;
  font-size: 13px !important;
  background: #090c16;
  color: #fff;
  padding: 0 20px;
}
.blog-post .post-content .wp-block-tag-cloud a:hover {
  text-decoration: none;
  background: #73efcc;
  color: #090c16;
}
.blog-post .post-content .wp-block-rss {
  margin-bottom: 40px;
}
.blog-post .post-content .post-entry-footer {
  width: 100%;
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  box-shadow: 6px 6px 0 #f7f7f7;
  margin-top: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.blog-post .post-content .post-entry-footer .cat-links, .blog-post .post-content .post-entry-footer .tags-links {
  width: 100%;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}
.blog-post .post-content .post-entry-footer .cat-links a, .blog-post .post-content .post-entry-footer .tags-links a {
  text-decoration: underline;
  font-weight: 400;
}
.blog-post .post-content .post-entry-footer .edit-link {
  width: 100%;
  display: block;
  font-weight: 600;
}
.blog-post .post-content .post-entry-footer .edit-link .screen-reader-text {
  display: inline-block;
  font-weight: 400;
}
.blog-post .post-content .post-navigation {
  width: 100%;
  display: block;
}
.blog-post .post-content .post-navigation .navigation {
  width: 100%;
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  box-shadow: 6px 6px 0 #f7f7f7;
}
.blog-post .post-content .post-navigation .navigation .screen-reader-text {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.blog-post .post-content .post-navigation .navigation .nav-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.blog-post .post-content .post-navigation .navigation .nav-links .nav-previous {
  flex: 1;
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid #eee;
}
.blog-post .post-content .post-navigation .navigation .nav-links .nav-next {
  flex: 1;
  width: 50%;
  padding-left: 20px;
  text-align: right;
}
.blog-post .post-content .page-links {
  width: 100%;
  display: block;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.blog-post .post-content .page-links h6 {
  display: none;
}
.blog-post .post-content .page-links .post-page-numbers {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border: 1px solid #eee;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 600;
}
.blog-post .post-content .page-links .post-page-numbers.current {
  background: #090c16;
  border-color: #090c16;
  color: #fff;
}
.blog-post .post-content .size-large {
  width: 100%;
  height: auto;
}
.blog-post .post-content code {
  background: #eee;
  padding: 4px;
  color: #090c16;
  font-family: Courier;
}
.blog-post .post-content blockquote {
  background: #4c139c;
  color: #fff;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-post .post-content blockquote cite {
  display: block;
  margin-top: 10px;
}
.blog-post .post-content blockquote a {
  color: #fff;
  text-decoration: underline;
}
.blog-post .post-content h3, .blog-post .post-content h4, .blog-post .post-content h5, .blog-post .post-content h6, .blog-post .post-content strong {
  font-weight: 600;
}
.blog-post .post-content ol, .blog-post .post-content ul {
  padding-left: 20px;
}
.blog-post .post-content u {
  text-decoration: none;
  border-bottom: 5px solid #73efcc;
}
.blog-post .post-content .image-full {
  display: block;
  height: auto;
  margin-bottom: 30px;
}
.blog-post .post-content .post-link-wrapper {
  width: 100%;
  display: block;
  margin-top: 30px;
}
.blog-post .post-content .post-link {
  font-weight: 600;
  color: #090c16;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.blog-post .post-content .post-link:hover {
  text-decoration: none;
}
.blog-post .post-content .post-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.blog-post .post-content .post-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.blog-post .post-content .post-link:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.blog-post .post-content .post-link:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/* EXTRA FIXES */
table {
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 30px;
}
table tr {
  padding: 15px 0;
}
table tr th, table tr td {
  padding: 15px;
  border: 1px solid #eee;
}

.tag-content-2 {
  position: relative;
  /*p{font-weight: 600; border-bottom: 1px solid #eee; padding-bottom: 20px; text-transform: uppercase;}*/
}
.tag-content-2 .screen-reader-text {
  display: none;
}

.post-1788 .post-entry-footer {
  margin-top: 200px !important;
}

.post-501 p {
  overflow: hidden;
}

.post-password-form label {
  width: 100%;
}
.post-password-form input[type=password] {
  width: 100%;
  border: 1px solid #eee;
  padding: 0 15px;
  margin-top: 10px;
}
.post-password-form input[type=submit] {
  margin-top: 5px;
}

.page-links {
  width: 100%;
  display: block;
  border-top: 1px solid #eee;
  padding-top: 40px;
  font-size: 16px;
}
.page-links h6 {
  display: none;
}
.page-links .post-page-numbers {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border: 1px solid #eee;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 600;
}
.page-links .post-page-numbers.current {
  background: #090c16;
  border-color: #090c16;
  color: #fff;
}

.post-entry-footer {
  width: 100%;
  display: block;
  padding: 20px;
  border: 5px solid #090c16;
  margin-bottom: 30px;
  font-size: 16px;
  border-left: 1px solid #090c16;
  border-top: 1px solid #090c16;
  margin-top: 40px;
}
.post-entry-footer:last-child {
  margin-bottom: 0;
}
.post-entry-footer .cat-links, .post-entry-footer .tags-links {
  width: 100%;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #090c16;
  font-weight: 600;
}
.post-entry-footer .cat-links a, .post-entry-footer .tags-links a {
  text-decoration: underline;
  font-weight: 400;
}
.post-entry-footer .edit-link {
  width: 100%;
  display: block;
  font-weight: 600;
}
.post-entry-footer .edit-link .screen-reader-text {
  display: inline-block;
  font-weight: 400;
}

.post-comment {
  width: 100%;
  display: block;
  padding: 20px;
  margin: 30px 0;
  border: 1px solid #eee;
  box-shadow: 6px 6px 0 #f7f7f7;
}
.post-comment .comments-title {
  width: 100%;
  display: block;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.post-comment .comment-list {
  width: 100%;
  display: block;
  margin-bottom: 60px;
  padding: 0 !important;
}
.post-comment .comment-list li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.post-comment .comment-list li .comment-list {
  margin-bottom: 20px;
}
.post-comment .comment-list li .comment-content {
  width: calc(100% - 100px);
  display: inline-block;
}
.post-comment .comment-list li .comment-content p {
  margin-bottom: 10px;
}
.post-comment .comment-list li .comment-content p:empty {
  display: none;
}
.post-comment .comment-list li .comment-content h4 {
  font-size: 18px;
  font-weight: 600;
}
.post-comment .comment-list li .comment-content small {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  opacity: 0.6;
}
.post-comment .comment-list li .comment-content .comment-reply-link {
  display: inline-block;
  padding: 3px 8px;
  background: #090c16;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.post-comment .comment-list li .comment-content .comment-reply-link:hover {
  background: #73efcc;
  color: #090c16;
  text-decoration: none;
}
.post-comment .comment-list li .comment-avatar {
  margin-right: 20px;
}
.post-comment .comment-list li .comment-avatar:empty {
  display: none;
}
.post-comment .comment-list li .comment-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-comment .comment-form {
  width: 100%;
  display: block;
}
.post-comment .comment-form .comment-respond {
  width: 100%;
  display: block;
}
.post-comment .comment-form .comment-respond .comment-reply-title {
  width: 100%;
  display: block;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.post-comment .comment-form .comment-respond form {
  position: relative;
}
.post-comment .comment-form .comment-respond form .comment-notes {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}
.post-comment .comment-form .comment-respond form .comment-form-cookies-consent {
  padding: 0 15px;
}
.post-comment .comment-form .comment-respond form .comment-form-cookies-consent input[type=checkbox] {
  margin-right: 10px;
}
.post-comment .comment-form .comment-respond form .comment-form-cookies-consent label {
  width: auto;
  display: inline-block;
}
.post-comment .comment-form .comment-respond form .logged-in-as {
  font-weight: 400;
  text-transform: inherit;
  border: none;
  padding: 0;
  font-size: 16px;
  margin-bottom: 20px;
}
.post-comment .comment-form .comment-respond form .logged-in-as a {
  text-decoration: underline;
}
.post-comment .comment-form .comment-respond form label {
  width: 100%;
  display: block;
  font-size: 13px;
  color: #727479;
}
.post-comment .comment-form .comment-respond form input[type=text], .post-comment .comment-form .comment-respond form input[type=email] {
  width: 100%;
  display: block;
  border: 1px solid #dadada;
  padding: 0 15px;
}
.post-comment .comment-form .comment-respond form textarea {
  width: 100%;
  display: block;
  border: 1px solid #dadada;
  padding: 15px;
  background: none;
}

/* BLOG SIDEBAR */
.sidebar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  font-size: 16px;
}
.sidebar .widget {
  width: 100%;
  display: block;
  margin-bottom: 50px;
  background: #fff;
  padding: 40px;
  padding-top: 0;
  border: 1px solid #eee;
  box-shadow: 6px 6px 0 #f7f7f7;
  position: relative;
}
.sidebar .widget strong {
  font-weight: 600;
}
.sidebar .widget .categories {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget .categories li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
}
.sidebar .widget .categories li a {
  margin: 0;
}
.sidebar .widget .categories li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget .categories li span {
  float: right;
  opacity: 0.5;
}
.sidebar .widget .tags {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.sidebar .widget .tags li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.sidebar .widget .tags li a {
  color: #fff;
  background: #73efcc;
  display: inline-block;
  font-size: 13px;
  padding: 3px 6px;
}
.sidebar .widget .tags li a:hover {
  color: #73efcc;
  background: #090c16;
  text-decoration: none;
}
.sidebar .widget .side-gallery {
  display: block;
  margin-left: -1px;
  margin-right: -1px;
  padding: 0;
}
.sidebar .widget .side-gallery li {
  width: 50%;
  float: left;
  margin: 0;
  padding: 1px;
  list-style: none;
}
.sidebar .widget p {
  margin-bottom: 0;
}
.sidebar .widget form {
  margin: 0;
}
.sidebar .widget form input[type=search] {
  width: 100%;
  margin-bottom: 10px;
}
.sidebar .widget form button[type=submit] {
  background: #73efcc;
  color: #090c16;
  font-size: 20px;
}
.sidebar .widget .widget-title {
  width: 100%;
  display: block;
  border-bottom: 4px solid #eee;
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px 0;
  margin-bottom: 30px;
  color: #090c16;
  position: relative;
}
.sidebar .widget_search {
  width: 100%;
}
.sidebar .widget_search .widget-title {
  margin-bottom: 0;
}
.sidebar .widget_search .search-form {
  padding-top: 40px;
}
.sidebar .widget_search .screen-reader-text {
  display: none;
}
.sidebar .widget_search label {
  width: 100%;
  display: block;
}
.sidebar .widget_search input[type=search] {
  border: 1px solid #eee;
  padding: 0 15px;
}
.sidebar .widget_archive {
  position: relative;
}
.sidebar .widget_archive .screen-reader-text {
  display: none;
}
.sidebar .widget_archive ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_archive ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_archive ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_archive ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_calendar {
  position: relative;
}
.sidebar .widget_calendar caption {
  padding-bottom: 0;
  color: #727479;
  font-weight: 600;
}
.sidebar .widget_calendar table {
  width: 100%;
}
.sidebar .widget_calendar table thead {
  margin-bottom: 10px;
}
.sidebar .widget_calendar table thead th {
  height: 50px;
  border-bottom: 1px solid #eee;
}
.sidebar .widget_calendar table tbody {
  margin-bottom: 10px;
}
.sidebar .widget_calendar table tbody td {
  height: 30px;
}
.sidebar .widget_calendar table tfoot {
  padding-top: 10px;
}
.sidebar .widget_calendar table tfoot td {
  border-top: 1px solid #eee;
  height: 50px;
}
.sidebar .widget_calendar table tfoot td:last-child {
  text-align: right;
}
.sidebar .widget_categories {
  position: relative;
}
.sidebar .widget_categories .screen-reader-text {
  display: none;
}
.sidebar .widget_categories ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_categories ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_categories ul li ul {
  padding-left: 20px;
}
.sidebar .widget_categories ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_categories ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_pages {
  position: relative;
}
.sidebar .widget_pages ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_pages ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_pages ul li ul {
  padding-left: 20px;
}
.sidebar .widget_pages ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_pages ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_meta {
  position: relative;
}
.sidebar .widget_meta ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_meta ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_meta ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_meta ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_recent_comments {
  position: relative;
}
.sidebar .widget_recent_comments ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_recent_comments ul li {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_recent_comments ul li .comment-author-link a {
  text-decoration: none;
  font-weight: 600;
}
.sidebar .widget_recent_comments ul li a {
  margin: 0;
  color: #090c16;
  text-decoration: underline;
}
.sidebar .widget_recent_comments ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_recent_entries {
  position: relative;
}
.sidebar .widget_recent_entries ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_recent_entries ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_recent_entries ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_recent_entries ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_rss {
  position: relative;
}
.sidebar .widget_rss .rss-widget-icon {
  display: none;
}
.sidebar .widget_rss ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_rss ul li {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 3px 0;
  list-style: none;
}
.sidebar .widget_rss ul li:last-child {
  margin-bottom: 0;
}
.sidebar .widget_rss ul li .rss-date {
  width: 100%;
  display: block;
  font-size: 12px;
  color: #727479;
  margin: 5px 0;
}
.sidebar .widget_rss ul li .rssSummary {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.sidebar .widget_rss ul li cite {
  display: block;
  font-family: georgia;
  color: #727479;
}
.sidebar .widget_rss ul li a {
  margin: 0;
  color: #090c16;
  font-weight: 600;
}
.sidebar .widget_rss ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}
.sidebar .widget_text {
  position: relative;
}
.sidebar .widget_text .wp-caption-text {
  margin-top: 0;
}
.sidebar .widget_text img {
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.sidebar .widget_text a {
  display: inline-block;
}
.sidebar .widget_text p {
  margin-bottom: 20px;
}
.sidebar .widget_text p:empty {
  display: none;
}
.sidebar .widget_tag_cloud {
  position: relative;
}
.sidebar .widget_tag_cloud .tagcloud {
  width: 100%;
  display: block;
}
.sidebar .widget_tag_cloud .tagcloud a {
  color: #090c16;
  background: #73efcc;
  display: inline-block;
  font-size: 12px !important;
  padding: 3px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.sidebar .widget_tag_cloud .tagcloud a:hover {
  color: #fff;
  background: #090c16;
  text-decoration: none;
}
.sidebar .widget_nav_menu {
  position: relative;
}
.sidebar .widget_nav_menu ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.sidebar .widget_nav_menu ul li {
  width: 100%;
  display: block;
  margin: 0;
  padding: 3px 0;
  list-style: none;
  color: #727479;
}
.sidebar .widget_nav_menu ul li ul {
  padding-left: 17px;
}
.sidebar .widget_nav_menu ul li a {
  margin: 0;
  color: #090c16;
}
.sidebar .widget_nav_menu ul li a:hover {
  color: #73efcc;
  text-decoration: none;
}

/* CASE CONTENT */
.case-content {
  display: block;
}
.case-content h5 {
  font-weight: 600;
  margin: 0;
  font-size: 25px;
}
.case-content h6 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 15px;
  margin-top: 30px;
}

.atheus-image-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

/* WORKS */
.works {
  width: calc(100% - 120px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
  padding: 0;
}
.works * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.works li {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.works li figure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
}
.works li figure.animated figcaption {
  opacity: 1;
}
.works li figure img {
  width: 100%;
  float: left;
}
.works li figure figcaption {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  padding: 30px;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
  background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition-delay: 0.5s;
}
.works li figure figcaption h5 {
  font-size: 4vw;
  font-weight: 800;
  margin: 0;
}
.works li figure figcaption h5 a {
  color: #fff;
}
.works li figure figcaption h5 a:hover {
  color: #73efcc;
  text-decoration: none;
}
.works li figure figcaption small {
  font-size: 12px;
  letter-spacing: 1px;
}

/* TEAM SLIDER */
.team-slider {
  width: 100%;
  display: block;
  overflow: hidden;
}
.team-slider * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.team-slider .swiper-slide .team-member figure .image-inner {
  opacity: 0.5;
  transform: translateY(50px);
}
.team-slider .swiper-slide .team-member .content {
  opacity: 0;
  transform: translateY(30px);
}
.team-slider .swiper-slide-active .team-member figure .image-inner, .team-slider .swiper-slide-active .team-member .content {
  opacity: 1;
  transform: translateY(0);
}
.team-slider .swiper-pagination-progressbar {
  position: absolute;
  left: 0;
  bottom: 75px;
  top: auto;
  height: 1px;
  background: #eee;
}
.team-slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #73efcc;
}

/* TEAM MEMBERS */
.team-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.team-member figure {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
.team-member .content {
  width: 100%;
}
.team-member .content h6 {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
.team-member .content small {
  width: 100%;
  display: block;
  margin-bottom: 5px;
  color: #727479;
}
.team-member .content ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.team-member .content ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  list-style: none;
}
.team-member .content ul li a {
  font-weight: 600;
  color: #090c16;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 11px;
}
.team-member .content ul li a:hover {
  text-decoration: none;
}
.team-member .content ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
}
.team-member .content ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.team-member .content ul li a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.team-member .content ul li a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/* AWARDS BOX */
.awards-box {
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #090c16;
  padding: 30px;
  text-align: center;
  position: relative;
}
.awards-box svg {
  fill: #fff;
}
.awards-box .odometer {
  color: #fff;
  font-size: 10vw;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
  padding: 0;
  line-height: 1;
  opacity: 0.1;
}

.awards-box-content {
  width: 100%;
  display: block;
}
.awards-box-content ul {
  font-size: 16px;
  margin: 0;
  padding-left: 0;
}
.awards-box-content ul li {
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.awards-box-content ul li:last-child {
  margin-bottom: 0;
}

/* CONTACT FORM */
.wpcf7-form {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  padding-right: 100px;
}
.wpcf7-form .form-group {
  display: block;
  position: relative;
  margin-bottom: 35px;
}
.wpcf7-form .form-group:last-child {
  margin-bottom: 0;
}
.wpcf7-form .wpcf7-validation-errors {
  width: 100%;
  display: block;
  border: none;
  background: red;
  color: #fff;
  padding: 40px 30px;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.wpcf7-form span.wpcf7-not-valid-tip {
  margin-top: 10px;
  font-size: 13px;
}
.wpcf7-form .wpcf7-not-valid {
  border-bottom: 1px solid red;
}
.wpcf7-form p {
  width: 100%;
  display: block;
  line-height: 1;
  margin-bottom: 5px;
}
.wpcf7-form p br {
  display: none;
}
.wpcf7-form small {
  display: block;
  font-size: 13px;
  opacity: 0.4;
}
.wpcf7-form input[type=text], .wpcf7-form input[type=email] {
  background: none;
  position: relative;
  z-index: 2;
  width: 100%;
}
.wpcf7-form textarea {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* MAP HOLDER */
.map-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 75px;
}
.map-wrapper iframe {
  width: 100%;
  height: 400px;
  display: block;
  border: none;
}

/* SIDE ADDRESS */
.address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background: #4c139c;
  padding: 75px 50px;
  color: #fff;
}
.address b {
  width: 100%;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 12px;
}
.address p {
  width: 100%;
}
.address a {
  color: #fff;
  margin-top: 30px;
  font-size: 12px;
}
.address a:hover {
  color: #fff;
}

/* CLIENTS */
.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}
.clients * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.clients .client-item.animated {
  opacity: 1;
}
.clients .client-item.animated.figcaption .word .char {
  transform: translateY(10px);
  opacity: 0;
  transition-delay: calc(10ms * var(--char-index));
}
.clients .vc_row {
  margin-left: 0;
  margin-right: 0;
}
.clients .vc_row .vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.clients .vc_row .vc_column_container > .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.clients .vc_row .vc_inner {
  position: relative;
}
.clients .vc_row .vc_inner:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.clients .vc_row .vc_inner:after {
  content: "";
  width: 1px;
  height: 100vh;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.clients:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.clients:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.clients .client-item {
  width: 100%;
  display: block;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: center;
  opacity: 0;
  transition: all 2s ease-in-out;
}
.clients .client-item figure {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}
.clients .client-item figure:hover figcaption {
  opacity: 1;
  top: 0;
}
.clients .client-item figure:hover figcaption .char {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.clients .client-item figure:hover img {
  opacity: 0;
}
.clients .client-item figure img {
  width: 100%;
  display: inline-block;
  padding: 40px 80px;
}
.clients .client-item figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
}
.clients .client-item figure figcaption .char {
  transform: translateY(10px);
  opacity: 0;
  transition-delay: calc(10ms * var(--char-index));
  animation: none;
}
.clients .client-item:nth-child(1n) {
  transition-delay: 0.1s;
}
.clients .client-item:nth-child(2n) {
  transition-delay: 0.2s;
}
.clients .client-item:nth-child(3n) {
  transition-delay: 0.3s;
}
.clients .client-item:nth-child(4n) {
  transition-delay: 0.4s;
}
.clients .client-item:nth-child(5n) {
  transition-delay: 0.5s;
}
.clients .client-item:nth-child(6n) {
  transition-delay: 0.6s;
}
.clients .client-item:nth-child(7n) {
  transition-delay: 0.7s;
}
.clients .client-item:nth-child(8n) {
  transition-delay: 0.8s;
}
.clients .client-item:nth-child(9n) {
  transition-delay: 0.9s;
}
.clients .client-item:nth-child(10n) {
  transition-delay: 1s;
}
.clients .client-item:nth-child(11n) {
  transition-delay: 1.1s;
}
.clients .client-item:nth-child(12n) {
  transition-delay: 1.2s;
}
.clients .client-item:nth-child(13n) {
  transition-delay: 1.3s;
}
.clients .client-item:nth-child(14n) {
  transition-delay: 1.4s;
}
.clients .client-item:nth-child(15n) {
  transition-delay: 1.5s;
}
.clients .client-item:nth-child(16n) {
  transition-delay: 1.6s;
}
.clients .client-item:nth-child(17n) {
  transition-delay: 1.7s;
}
.clients .client-item:nth-child(18n) {
  transition-delay: 1.8s;
}
.clients .client-item:nth-child(19n) {
  transition-delay: 1.9s;
}
.clients .client-item:nth-child(20n) {
  transition-delay: 2s;
}

/* FOOTER WIDGET */
.footer-widget { 
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.footer-widget .widget-title {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 13px;
  opacity: 0.5;
}
.footer-widget .screen-reader-text {
  display: none;
}
.footer-widget .calendar_wrap {
  width: 100%;
  display: block;
}
.footer-widget .calendar_wrap caption {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}
.footer-widget .calendar_wrap table {
  width: 100%;
}
.footer-widget .recentcomments {
  margin-bottom: 10px !important;
}
.footer-widget .recentcomments .comment-author-link {
  text-decoration: underline;
}
.footer-widget .recentcomments .comment-author-link a {
  font-weight: 400;
}
.footer-widget .recentcomments a {
  font-weight: 600;
}
.footer-widget .rss-widget-icon {
  display: none;
}
.footer-widget .rsswidget {
  margin-bottom: 5px;
  font-weight: 600;
}
.footer-widget .rss-date {
  width: 100%;
  display: block;
  font-size: 13px;
  opacity: 0.3;
}
.footer-widget .rssSummary {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.footer-widget .textwidget {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.footer-widget .search-form {
  width: 100%;
  display: block;
}
.footer-widget .search-form label {
  width: 100%;
}
.footer-widget .tagcloud {
  width: 100%;
  display: block;
}
.footer-widget .tagcloud a {
  font-size: 13px !important;
  margin-right: 10px;
  margin-bottom: 5px;
}
.footer-widget img {
  margin-top: 5px;
  margin-bottom: 10px;
  height: auto;
  width: 100%;
}
.footer-widget strong {
  font-weight: 600;
}
.footer-widget cite {
  width: 100%;
  display: block;
  font-family: georgia;
  font-size: 13px;
  margin-bottom: 30px;
}
.footer-widget input[type=search] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0 15px;
}
.footer-widget ul {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.footer-widget ul li {
  width: 100%;
  display: block;
  margin: 2px 0;
  padding: 0;
  list-style: none;
}
.footer-widget ul li ul {
  padding-left: 10px !important;
}

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: #090c16;
}
.footer .section-titles {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 100px 0;
  margin-bottom: 50px;
}
.footer .section-titles .custom-link {
  color: #fff;
}
.footer .footer-inner {
  width: 100%;
  font-size: 16px;
}
.footer .footer-inner h6 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 13px;
  opacity: 0.5;
}
.footer .footer-inner address, .footer .footer-inner p {
  margin: 0;
}
.footer .footer-inner a {
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.footer .footer-inner a:hover {
  text-decoration: none;
}
.footer .footer-inner a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 4px;
  width: 0;
  transition: width 0s ease, background 0.25s ease;
  mix-blend-mode: color;
}
.footer .footer-inner a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 2px;
  height: 4px;
  width: 0;
  background: #73efcc;
  transition: width 0.25s ease;
  mix-blend-mode: color;
}
.footer .footer-inner a:hover:before {
  width: 100%;
  background: #73efcc;
  transition: width 0.25s ease;
}
.footer .footer-inner a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.footer .footer-inner .social-media {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.footer .footer-inner .social-media li {
  width: auto;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  list-style: none;
}
.footer .footer-inner .social-media li:last-child {
  margin-right: 0;
}
.footer .footer-inner .social-media li a {
  display: inline-block;
}
.footer .footer-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.footer .footer-bottom .copyright {
  margin-left: 0;
}
.footer .footer-bottom .creation {
  margin-left: auto;
  margin-right: 0;
}
.footer .footer-bottom .creation a {
  text-decoration: underline;
  color: #fff;
}
.iti--allow-dropdown input{
    width: 100%;
}
.input input{
    width: 100%;
    color: #fff;
    height: 40px;
}
.input,
.textarea{
    margin-bottom: 15px;
    width: 100%;
}
.footer-widget .iti__country-list.iti__hide{
    display: none;
}
.textarea textarea::-webkit-input-placeholder,
.input input::-webkit-input-placeholder { 
    color: #fff;
    opacity: 1;
}
.textarea textarea::-moz-placeholder,
.input input::-moz-placeholder { 
    color: #fff;
    opacity: 1;
}
.textarea textarea:-ms-input-placeholder 
.input input:-ms-input-placeholder { 
    color: #fff;
    opacity: 1;
}
.textarea textarea:-moz-placeholder,
.input input:-moz-placeholder { 
    color: #fff;
    opacity: 1;
}
.iti--allow-dropdown input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
.textarea textarea{
    background: transparent;
    color: #fff;
    resize: none;
    border-bottom: 1px solid #eee;
    height: 120px;
}
.iti--allow-dropdown input{
    padding-left: 70px !important;
}
.iti--allow-dropdown .iti__arrow{
    margin-left: 14px;
    border-top-color: #fff;
}
.iti__selected-flag{
    width: 70px;
}
.footer-widget .wpcf7-submit{
    color: #fff;
    background-color: #f4524d;
    box-shadow: 0 5px 0 #f11f18;
    font-size: 14px;
    border-radius: 5px;
    height: 44px;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    cursor: pointer;
}
.footer-widget .iti__country-list{
    background-color: #090c16;
    z-index: 99;
    width: auto;
}
.footer .footer-inner .social-media ul{
    padding-left: 0 !important;
}
.footer .footer-inner .social-media li{
    margin-bottom: 10px;
}
.footer-widget .iti__country-name {
    font-size: 12px;
}
.footer-widget .iti__dial-code {
    font-size: 14px;
}
.footer-widget .wpcf7-submit:focus,
.footer-widget .wpcf7-submit:hover{
    top: 3px;
    box-shadow: 0 2px 0 #f11f18;
}
.footer-widget  .wpcf7-form .input span.wpcf7-form-control-wrap{ 
    display: block;
}
.footer-widget  .wpcf7-form span.wpcf7-not-valid-tip{
    position: absolute;
    font-size: 10px;
    bottom: -5px;
    transform: translateY(100%);
}
.img-block .atheus-image-wrapper{
    margin-bottom: 0 !important;
}
.footer-widget .wpcf7-form .row{
    margin-left: 0;
    margin-right: 0;
}
.footer-widget .wpcf7-form{
    padding-right: 0 !important;
}
.chars .section-titles{
    margin-bottom: 0 !important; 
}
.section-spacing {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.atheus-page section:first-of-type {
    padding-bottom: 0 !important;
}
.atheus-page section:first-of-type .section-titles{
    margin-bottom: 50px !important;
   
}
.footer .section-titles{
    padding: 60px 0 !important;
}

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .section-titles h2, .icon-content-box .content p {
    padding-right: 0;
  }
}
/* RESPONSIVE TABLET  */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
.footer-widget .wpcf7-form .textarea,
.footer-widget .wpcf7-form .input{
    width: 100%;
}
footer .section-titles {
    padding: 60px 0 !important;
}
.iti.iti--allow-dropdown {
  width: 100%;
}
  body {
    cursor: inherit !important;
  }

  textarea, input {
    -webkit-appearance: none;
    border-radius: 0;
  }

  .showcase-slider .swiper-slide .slide-image-mobile {
    display: block;
  }

  .section-spacing {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .menu-navigaton:after {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: url("../images/touch-icon.png") no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition-delay: 1s;
  }

  .menu-navigation.active:after {
    opacity: 0.05;
  }

  .custom-cursor, .spacing-50, .spacing-100 {
    display: none;
  }

  .showcase-slider .swiper-slide .slide-inner h1 {
    font-size: 80px;
  }

  .section-titles h2 {
    font-size: 38px;
  }
  .section-titles.no-spacing {
    margin-bottom: 50px !important;
  }

  .page-header .container-fluid {
    padding: 0 60px;
  }

  .counter .odometer span {
    font-size: 38px;
  }
  .counter small {
    font-size: 15px;
  }

  .icon-content-box {
    margin: 30px 0;
  }
  .icon-content-box .content p {
    margin-top: 10px;
  }
  .icon-content-box .content b {
    margin-left: 0;
  }
  .icon-content-box .content h6 {
    width: 100%;
  }

  .page-header .container-fluid h1 {
    font-size: 15vw;
  }

  .clients li figure img {
    padding: 20px 10px;
  }

  .side-address {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .works li {
    width: 100%;
  }

  .blog-post .post-content {
    padding: 0;
  }

  .sidebar {
    padding-left: 0;
    margin-top: 60px;
  }

  .clients .client-item figure img {
    padding: 30px 40px;
  }

  .footer .footer-inner address, .footer .footer-inner p {
    margin-bottom: 30px;
  }
}
/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px) {
    body .vc_custom_1669700714298{
        margin-bottom: 0 !important; 
    }
    
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .topbar, .bottombar {
    padding: 15px;
  }

  .header, .page-header {
    min-height: inherit;
  }

  .section-titles h5 {
    letter-spacing: 0;
  }

  .animated h5:after {
    width: 80px !important;
  }
  .animated b:after {
    width: 40px !important;
  }

  .showcase-slider .swiper-slide .slide-inner small {
    display: none;
  }
  .showcase-slider .swiper-slide .slide-inner h1 {
    font-size: 50px;
  }

  .page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small:after {
    width: 60px !important;
  }
  .page-loaded .showcase-slider .swiper-controls, .page-loaded .showcase-slider .swiper-pagination {
    display: none;
  }
  .page-loaded .showcase-slider .swiper-slide.swiper-slide-active .slide-inner small:after {
    width: 80px;
  }

  .works {
    width: calc(100% - 30px);
    margin: 0 15px;
  }

  .clients li {
    width: 50%;
  }
  .clients li figure img {
    padding: 20px;
  }

  .page-header .container-fluid {
    padding: 0 15px;
  }

  .counter {
    margin: 15px 0;
  }

  .awards-box {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .accordion .card .card-header a {
    font-size: 26px;
  }

  .section-titles h2 {
    font-size: 30px;
  }

  .page-header .container-fluid h1 {
    font-size: 20vw;
  }
  .page-header .container-fluid p {
    font-size: 15px;
  }

  .blog-post .post-content .post-title {
    font-size: 22px;
  }

  .bottombar .social-media ul li {
    margin-right: 20px;
  }
  .bottombar .social-media ul li:last-child {
    margin-right: 0;
  }
  .bottombar .social-media ul li a .char {
    display: none;
  }
  .bottombar .social-media ul li a .char:nth-child(1), .bottombar .social-media ul li a .char:nth-child(2), .bottombar .social-media ul li a .char:nth-child(3), .bottombar .social-media ul li a .char:nth-child(4) {
    display: inline-block;
  }

  .topbar .languages {
    display: none;
  }
  .topbar .hamburger-menu {
    margin-left: auto;
    display: flex;
  }

  .menu-container .main-menu li a {
    font-size: 12vw;
  }

  .custom-list-sides li {
    width: 100%;
  }

  .team-member figure {
    padding: 0 10%;
  }

  .awards-box .odometer {
    font-size: 25vw;
  }

  .showcase-slider .swiper-slide .slide-inner h1 {
    letter-spacing: 0;
  }
  .showcase-slider .swiper-slide .slide-inner h1 b {
    margin-left: 0;
  }

  .works li figure figcaption h5 {
    font-size: 8vw;
  }

  .brabus-text-block .custom-list-sides {
    margin-top: 30px;
  }

  .vc_custom_1581272788097 {
    display: none;
  }

  .content-section .vc_custom_1581282754740 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .clients .client-item figure img {
    padding: 25px 40px;
  }

  .wpcf7-form {
    padding-right: 0;
  }

  .wow.animated h5:after {
    width: 80px !important;
  }

  .sidebar .widget {
    padding: 25px;
  }
  .sidebar .widget .widget-title {
    padding: 25px 0;
    margin-bottom: 20px;
  }

  .topbar {
    width: 100%;
  }
  .topbar .horizontal-menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 76px;
    overflow: auto;
    padding-right: 50px;
  }
  .topbar .horizontal-menu.active {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  .topbar .horizontal-menu .horizontal-main-menu {
    width: 100%;
  }
  .topbar .horizontal-menu .horizontal-main-menu li {
    width: 100%;
    margin: 10px 0;
    text-align: right;
    position: relative;
    line-height: 1;
  }
  .topbar .horizontal-menu .horizontal-main-menu li.menu-item-has-children:after {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: -20px;
    top: 10px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu {
    width: 100%;
    float: none;
    position: static;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    background: none !important;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu:before {
    display: none;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a {
    width: auto;
    font-weight: 600;
    font-size: 5vw;
    display: inline-block;
    position: relative;
    color: #fff;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a:before, .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a:after {
    display: none !important;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li a:hover {
    color: #fff;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu {
    background: none;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li {
    width: 100%;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li.menu-item-has-children:after {
    top: 7px;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    background: none;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li {
    width: 100%;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    width: auto;
    font-weight: 400;
    font-size: 3vw;
    display: inline-block;
    color: #fff;
  }
  .topbar .horizontal-menu .horizontal-main-menu li .dropdown-menu li .dropdown-menu li a {
    width: auto;
    font-weight: 400;
    font-size: 4vw;
    display: inline-block;
    color: #fff;
  }
  .topbar .horizontal-menu .horizontal-main-menu li a {
    font-size: 7vw;
    font-weight: 800;
    position: relative;
    color: #fff;
  }
  .topbar .horizontal-menu .horizontal-main-menu li a:focus, .topbar .horizontal-menu .horizontal-main-menu li a:hover {
    color: #fff;
  }
}
/* KEYFRAMES */
@keyframes texteffect {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes texteffect {
  0% {
    -webkit-transform: translateY(50%);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
}
@-moz-keyframes texteffect {
  0% {
    -moz-transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes texteffect {
  0% {
    -o-transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
