/*

@Author: Drection
@URL: http://www.drection.co

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


  // Table of contents //

    01. CUSTOM FONTS
    02. BODY
    03. LINKS
    04. SECTIONS
    05. HTML ELEMENTS
    06. FORM ELEMENTS
    07. CUSTOM CONTAINER
    08. CUSTOM CLASSES
    09. CUSTOM LINK
    10. ODOMETER
    11. ACCORDION
    12. SPLITTING
    13. CUSTOM CURSOR
    14. IMAGE REVEAL
    15. IMAGE REVEAL DELAY
    16. SVG HAMBURGER MENU
    17. MENU NAVIGATION
    18. MENU CONTAINER
    19. PRELOADER
    20. PAGE TRANSITION
    21. PAGE LOADED
    22. VIDEO BG
    23. BG IMAGE
    24. SECTION TITLES
    25. CONTENT SECTION
    26. TOP BAR
    27. BOTTOM BAR
    28. HEADER
    29. PAGE HEADER
    30. SHOWCASE SLIDER
    31. ICON BOX CONTENT
    32. COUNTER
    33. BLOG POST 
    34. BLOG SIDEBAR
    35. CASE CONTENT
    36. WORKS
    37. TEAM SLIDER
    38. TEAM MEMBERS
    39. AWARDS BOX
    40. CONTACT FORM
    41. MAP HOLDER
    42. SIDE ADDRESS
    43. CLIENTS
    44. FOOTER
    45. RESPONSIVE MEDIUM
    46. RESPONSIVE TABLET
    47. RESPONSIVE MOBILE


*/


/* CUSTOM FONTS */
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.eot");
  src: local("☺"), url("../fonts/Mont-Regular.woff") format("woff"), url("../fonts/Mont-Regular.ttf") format("truetype"), url("../fonts/Mont-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Bold.eot");
  src: local("☺"), url("../fonts/Mont-Bold.woff") format("woff"), url("../fonts/Mont-Bold.ttf") format("truetype"), url("../fonts/Mont-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Heavy.eot");
  src: local("☺"), url("../fonts/Mont-Heavy.woff") format("woff"), url("../fonts/Mont-Heavy.ttf") format("truetype"), url("../fonts/Mont-Heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}


@mixin transition{ -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;}

@mixin transition-cubic{-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);}



/* BODY */
* { outline: none !important;}
body { margin: 0; padding: 0; font-family: "Mont"; font-size: 12px; color: #090c16; overflow: hidden;}



/* LINKS */
a { color: #090c16; @include transition;
	&:hover { text-decoration: underline; color: #090c16; }
	&:focus { outline: none; }}

/* SECTIONS */
header {  position: relative;}
section { position: relative; z-index: 2; background: #fff;}
footer{position:relative;}
main{width:100%;overflow:hidden;}




/* HTML ELEMENTS */
img{max-width:100%;height:auto;}
p{font-size:17px;line-height:1.7;margin-bottom:20px;
	&:last-child { margin-bottom: 0;  }}

/* FORM ELEMENTS */

input {
  &[type=text], &[type=phone], &[type=password], &[type=number], &[type=email], &[type=search] {
   width:400px;max-width:100%;height:60px;background:none;border:none;border-bottom:1px solid #eee;font-size:15px;  }}

textarea { height:200px;border:none;font-size:15px;background-image:repeating-linear-gradient(to bottom, transparent, transparent 49px, #dadada 50px);line-height:50px;}

button {
  &[type=button], &[type=submit] {   height:60px;background:#090c16;color:#fff;border:none;font-size:12px;font-weight:600;padding:0 40px;  }}

input[type=submit] {
  height: 60px;
  background: #090c16;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 40px;
}


select{width: 420px; max-width: 100%; height: 60px; padding: 0 30px; border: 1px solid #eee;}

select { -webkit-appearance: none; -moz-appearance: none; background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) 28px, calc(100% - 25px) 28px, calc(100% - 3.5em) 20px; background-size: 5px 5px, 5px 5px, 1px 20px; background-repeat: no-repeat;}







/* CUSTOM CONTAINER */
@media (min-width: 1170px) { .container { max-width: 1100px; }}
@media (min-width: 1280px) { .container { max-width: 1260px; }}




/* CUSTOM CLASSES */
.hide{display:none;}
.overflow{overflow:hidden !important;}
.bg-attachment{background-attachment:fixed;}
.spacing-50{height:50px;}
.spacing-100{height:100px;}
.no-spacing{margin:0 !important;padding:0 !important;}
.no-bottom-spacing{margin-bottom:0 !important;padding-bottom:0 !important;}

.custom-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 !important;

  &:last-child {
    margin-bottom: 0;
  }

  li {
    margin: 5px 0;
    padding: 0;
    font-size: 17px;
    list-style: none;
  }
}

.custom-list-sides {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;

  li {
    width: 50%;
    margin: 5px 0;
    padding: 0;
    font-size: 17px;
    list-style: none;
  }
}

.admin-bar .topbar {
  transform: translateY(32px);
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}



/* CUSTOM LINK */
.custom-link { font-weight: 600;color: #090c16;display: inline-block;position: relative;z-index: 2;padding-bottom: 2px;margin-top: 20px;
  &:hover { text-decoration: none; color: #090c16;  }
  &:before {content: "";display: block;position: absolute;left: 0;bottom: -4px;height: 4px;width: 0;transition: width 0s ease, background 0.25s ease; }

  &:after {
   content: "";display: block;position: absolute;right: 0;bottom: -4px;height: 4px;width: 0;background: #73efcc;transition: width 0.25s ease;mix-blend-mode: color;
  }

  &:hover {
    &:before {
      width: 100%;
      background: #73efcc;
      transition: width 0.25s ease;
    }

    &:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
    }
  }
}

/* ODOMETER */
.odometer { line-height: 1; padding: 0;
	&.odometer-auto-theme .odometer-digit { padding: 0 !important;
    .odometer-digit-inner {left: 0 !important;} }
	&.odometer-theme-car .odometer-digit {    padding: 0;  }
	&.odometer-auto-theme .odometer-digit .odometer-digit-inner{ left: 0;}
	&.odometer-theme-car .odometer-digit .odometer-digit-inner { left: 0;}}
.odometer-formatting-mark {height: 46px;}
.odometer-inside { overflow: hidden; display: flex;  flex-wrap: wrap;}




/* ACCORDION */
.accordion {
 width: 100%;display: flex;flex-wrap: wrap;padding: 0;
  .card { width: 100%;background: none;border-radius: 0;margin: 0;border: none;
  &:last-child .card-body { border-bottom: none;padding-bottom: 10px;margin-bottom: 0; }
    .card-header { background: none;padding: 0;border-bottom: none;margin-bottom: 30px;
      small { font-size: 11px; color: #73efcc; font-weight: 600; }
      a {width: 100%;float: left;padding: 0;color: #090c16;font-weight: 300;font-size: 44px;
        &:hover { color: #73efcc; text-decoration: none; } } }
    .card-body { width: 100%;border: none;border-bottom: 1px solid #eee;line-height: 1.7;font-weight: 300;font-size: 18px;padding: 0;padding-bottom: 30px;margin-bottom: 30px; }
    [aria-expanded=true] { border: none; } }
  .custom-link { font-weight: 400; }}





/* SPLITTING */
.no-split .topbar .hamburger-menu .texts b:last-child{display: none;}
.splitting {
  .word { display: inline-block; }
  .char { display: inline-block; position: relative; }}
.animated .char { display: inline-block;animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;animation-delay: calc(10ms * var(--char-index));}
.wow { h5:after { width: 0 !important; }
 &.animated h5:after { width: 120px !important; } }
.animated {
  b:after { width: 70px !important; }
  figure { opacity: 1 !important; }}
.fadeIn {  opacity: 0;transition: all ease 0.6s;-webkit-transition: all ease 0.6s;-moz-transition: all ease 0.6s;transform: translateY(100px);transition-delay: 0.4s;
  &.animated { opacity: 1; transform: translateY(0); }}





/* CUSTOM CURSOR */
.cursor { position: fixed;top: -30px;left: -30px;pointer-events: none;z-index: 9999;mix-blend-mode: difference;
  &:before { content: "";width: 60px;height: 60px;display: inline-block;border-radius: 50%;background: white;transition: all ease 0.15s;transform: scale(0.15);  }
  &.light:before { transform: scale(1);  }}



/* IMAGE REVEAL */
.image-reveal { width: 100%;height: 100%;display: flex;flex-wrap: wrap;position: relative;overflow: hidden;margin: 0;visibility: visible !important;
.image-inner {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #eee;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      transition: all ease 0.5s;
      transition-delay: 0.3s;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      transition: all ease 0.5s;
      transition-delay: 0s;
    }

    img {
      transform: scale(1.8);
      transition: all ease 0.8s;
      z-index: 1;
      transition-delay: 0.1s;
    }
  }

  &.animated .image-inner {
    &:before, &:after {
      height: 0;
    }

    img {
      transform: scale(1);
    }
  }
}




/* IMAGE REVEAL DELAY */
div, li {
  text-indent: inherit;

  &:nth-child(2) .image-reveal .image-inner {
    &:before {
      transition-delay: 0.4s;
    }

    &:after {
      transition-delay: 0.1s;
    }

    img {
      transition-delay: 0.2s;
    }
  }

  &:nth-child(3) .image-reveal .image-inner {
    &:before {
      transition-delay: 0.5s;
    }

    &:after {
      transition-delay: 0.2s;
    }

    img {
      transition-delay: 0.3s;
    }
  }

  &:nth-child(4) .image-reveal .image-inner {
    &:before {
      transition-delay: 0.5s;
    }

    &:after {
      transition-delay: 0.3s;
    }

    img {
      transition-delay: 0.4s;
    }
  }
}

/* PAGINATION */

.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  .page-numbers {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-bottom: 4px;

      .page-numbers {
        height: 60px;
        line-height: 60px;
        display: inline-block;
        border: 1px solid #eee;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 600;

        &.current {
          background: #090c16;
          border-color: #090c16;
          color: #fff;
        }
      }
    }
  }

  .page-item {
    display: inline-block;

    .page-link {
      height: 60px;
      line-height: 60px;
      padding: 0 40px;
      border-radius: 0 !important;
      font-size: 12px;
      font-weight: 600;
      color: #090c16;
      outline: none !important;

      &:focus {
        outline: none !important;
      }
    }
  }
}

/* SVG HAMBURGER MENU */

.hamburger-menu {
  display: flex;

  svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    path {
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);

      &:nth-child(1) {
        transform-origin: 36% 40%;
      }

      &:nth-child(2) {
        stroke-dasharray: 29 299;
      }

      &:nth-child(3) {
        transform-origin: 35% 63%;
      }

      &:nth-child(4) {
        stroke-dasharray: 29 299;
      }

      &:nth-child(5) {
        transform-origin: 61% 52%;
      }

      &:nth-child(6) {
        transform-origin: 62% 52%;
      }
    }
  }

  &.active svg {
    transform: rotate(90deg);

    path {
      &:nth-child(1) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
      }

      &:nth-child(2) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
      }

      &:nth-child(3) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
      }

      &:nth-child(4) {
        stroke-dasharray: 225 299;
        stroke-dashoffset: -72px;
      }

      &:nth-child(5) {
        transform: translateX(9px) translateY(1px) rotate(-45deg);
      }

      &:nth-child(6) {
        transform: translateX(9px) translateY(1px) rotate(45deg);
      }
    }
  }
}

/* MENU NAVIGATION */

.menu-navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 8;
  visibility: hidden;

  * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .layers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background: #73efcc;

    span {
      width: 100%;
      left: -100%;
      background: #090c16;

      &:nth-child(1) {
        height: 33.3333%;
        position: absolute;
        top: 0;
        transition-delay: 0.25s;
      }

      &:nth-child(2) {
        height: 33.3333%;
        position: absolute;
        top: 33.33333%;
        transition-delay: 0.5s;
      }

      &:nth-child(3) {
        height: 33.3333%;
        position: absolute;
        top: 66.66666%;
        transition-delay: 0.75s;
      }
    }
  }

  &.active {
    visibility: visible;

    .layers {
      left: 0;

      span {
        left: 0;
      }
    }
  }
}

/* MENU CONTAINER */

.menu-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(0);
  z-index: 8;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transition-delay: 1s;

  .main-menu {
    display: inline-block;
    margin: 0;
    padding: 0 15%;

    li {
      display: inline-block;
      line-height: 1;
      margin: 0 3vw;
      padding: 0;
      list-style: none;

      a {
        font-weight: 800;
        color: #fff;
        display: inline-block;
        position: relative;
        z-index: 2;
        font-size: 8vw;

        &:hover {
          text-decoration: none;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 5px;
          width: 0;
          transition: width 0s ease, background 0.25s ease;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          height: 5px;
          width: 0;
          background: #73efcc;
          transition: width 0.25s ease;
        }

        &:hover {
          &:before {
            width: 100%;
            background: #73efcc;
            transition: width 0.25s ease;
          }

          &:after {
            width: 100%;
            background: transparent;
            transition: all 0s ease;
          }
        }
      }
    }
  }

  &.active {
    visibility: visible;
    transform: translateY(-50%);
    opacity: 1;
  }
}

/* PRELOADER */

.preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2s;

  * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .layers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #73efcc;
    transition-delay: 1.75s;

    span {
      width: 100%;
      height: 33.4%;
      position: absolute;
      left: 0;
      background: #090c16;

      &:nth-child(1) {
        top: 0;
        transition-delay: 1s;
      }

      &:nth-child(2) {
        top: 33.33333%;
        transition-delay: 1.25s;
      }

      &:nth-child(3) {
        top: 66.66666%;
        transition-delay: 1.5s;
      }
    }
  }

  .container-fluid {
    position: relative;
    text-align: center;
    color: #fff;

    small {
      display: inline-block;
      letter-spacing: 1px;
      transition-delay: 0.6s;

      .char {
        display: inline-block;
        animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: calc(10ms * var(--char-index));
      }
    }

    figure {
      margin-bottom: 5px;
      transition-delay: 0.5s;

      img {
        height: 30px;
        animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
      }
    }

    .percentage {
      width: 100%;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      color: transparent;
      line-height: 1;
      font-size: 40vw;
      font-weight: 800;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 0;
      transform: translateY(-50%);
      opacity: 0.1;
      transition-delay: 0.8s;

      #percentage {
        animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
        animation-delay: 0.3s;
      }
    }
  }
}

/* PAGE TRANSITION */

.page-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  visibility: hidden;

  * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .layers {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background: #73efcc;

    span {
      width: 100%;
      left: -100%;
      background: #090c16;

      &:nth-child(1) {
        height: 33.3333%;
        position: absolute;
        top: 0;
        transition-delay: 0.25s;
      }

      &:nth-child(2) {
        height: 33.3333%;
        position: absolute;
        top: 33.33333%;
        transition-delay: 0.5s;
      }

      &:nth-child(3) {
        height: 33.3333%;
        position: absolute;
        top: 66.66666%;
        transition-delay: 0.75s;
      }
    }
  }

  &.active {
    visibility: visible;

    .layers {
      left: 0;

      span {
        left: 0;
      }
    }
  }
}

/* PAGE LOADED */

.page-loaded {
  overflow: inherit;

  .preloader {
    left: -100%;

    .container-fluid {
      figure {
        transform: translateY(-20px);
        opacity: 0;
      }

      small {
        transform: translateY(-10px);
        opacity: 0;
      }

      .percentage {
        opacity: 0;
        transform: translateY(-60%);
      }
    }

    .layers {
      left: -100%;

      span {
        left: -100%;
      }
    }
  }

  .topbar {
    top: 0;
  }

  .bottombar {
    bottom: 0;
  }

  &.header-ready {
    .showcase-slider {
      .swiper-wrapper {
        transform: translateX(0);
      }

      .swiper-slide.swiper-slide-active .slide-image {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition-delay: 0.8s;
      }
		.swiper-slide.swiper-slide-active .slide-image-mobile {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition-delay: 0.8s;
      }
    }

    .page-header {
      .video-bg {
        opacity: 1;
        transform: scale(1);
        transition-delay: 0.4s;
      }

      h1 {
        text-indent: inherit;

        .char {
          opacity: 1;
          transform: translateY(0);
        }
      }

      p {
        text-indent: inherit;
        opacity: 0.6;
        transform: translateY(0);
      }
    }
  }

  .showcase-slider {
    .swiper-slide.swiper-slide-active .slide-inner {
      small {
        .char {
          opacity: 1;
          transform: translateY(0);
        }

        &:after {
          width: 120px;
        }
      }

      h1 .char, .link {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .swiper-controls {
      left: 25px;
    }

    .swiper-pagination {
      right: 25px;
    }
  }
}




/* BODY WITH PRELOADER */
body .topbar{top: -100%; -webkit-transition: all 0.3s ease;   -moz-transition: all 0.3s ease;   transition: all 0.3s ease;
  transition-duration: 500ms;   -webkit-transition-duration: 500ms;   transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2.1s;}
body .showcase-slider .swiper-wrapper{transform: translateX(100%);
    transition: 0.7s;
    transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);}


.body-hamburger-menu .topbar .hamburger-menu{display: flex; margin-left: auto;}

/* NO PRELOADER */
.no-preloader {overflow: inherit;
	.preloader {left: -100%;
		.container-fluid {
			figure {transform: translateY(-20px);opacity: 0;}
			small {transform: translateY(-10px);opacity: 0;}
			.percentage {opacity: 0;transform: translateY(-60%);}}
		.layers {left: -100%;
			span {left: -100%;}}}
	.topbar {top: 0;}
	.bottombar {bottom: 0;}
	.page-header {
			.video-bg {opacity: 1;transform: scale(1);transition-delay: 0s;}
		.char {opacity: 1 !important;transform: translateY(0) !important; transition-delay: 0s !important;}
			h1 { text-indent: inherit; transition-delay: 0s;}
			p { text-indent: inherit; opacity: 0.6 !important;transform: translateY(0) !important; transition-delay: 0s !important;}}
	
	.showcase-slider {
			.swiper-wrapper {transform: translateX(0);}
			.swiper-slide {
				&.swiper-slide-active {
					.slide-image {width: 100%;height: 100%;left: 0;top: 0;transition-delay: 0s;}}}}
	.showcase-slider {
		.swiper-slide {
			&.swiper-slide-active {
				.slide-inner {
					small {
						.char { opacity: 1; transform: translateY(0);}
						&:after { width: 120px; } }
					h1 {
						.char { opacity: 1; transform: translateY(0); } }
					.link { opacity: 1; transform: translateY(0); } } } }
		.swiper-controls { left: 25px; }
		.swiper-pagination { right: 25px; } }}



/* VIDEO BG */

.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  video {
    min-width: 100%;
    min-height: 100%;
    float: left;
    opacity: 0.1;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
}

/* BG IMAGE */

.bg-image {
  background-size: cover !important;
  background-position: center !important;
  color: #fff;
}

/* 404 ERROR */

.error-404 {
  text-align: center;

  img {
    display: inline-block;
    margin-bottom: 40px;
  }

  .search-field {
    border: 1px solid #eee;
    padding: 0 15px;
  }

  .screen-reader-text {
    display: none;
  }
}

/* SECTION TITLES */

.section-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  h2 {
    width: 100%;
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 0;
    padding-right: 10%;
    line-height: 1.4;
    z-index: 2;
  }

  h5 {
    font-size: 12px;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #73efcc;
      margin: 3px 10px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      transition-duration: 500ms;
      -webkit-transition-duration: 500ms;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-delay: 0.4s;
    }
  }
}

/* CONTENT-SECTION */

.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: block;
  position: relative;
  overflow: hidden;
}

.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.vc_row {
  margin-left: 0;
  margin-right: 0;

  .vc_row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* TOPBAR */

.topbar {
  width: 100%;
  line-height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 60px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  font-weight: 600;
	
  

  .logo {
    margin-left: 0;

    a {
      display: block;

      img {
        height: 36px;
        display: block;
      }
    }
  }

  .languages {
    margin-left: 60px;
    margin-right: auto;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 35px;

        a {
          font-weight: 600;
          color: #fff;
          display: inline-block;
          position: relative;
          z-index: 2;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            transition: width 0s ease, background 0.25s ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            background: #73efcc;
            transition: width 0.25s ease;
            mix-blend-mode: color;
          }

          &:hover {
            &:before {
              width: 100%;
              background: #73efcc;
              transition: width 0.25s ease;
            }

            &:after {
              width: 100%;
              background: transparent;
              transition: all 0s ease;
            }
          }
        }

        &:last-child:after {
          display: none;
        }

        &:after {
          content: "";
          width: 1px;
          height: 35px;
          float: right;
          background: rgba(255, 255, 255, 0.2);
          margin: 0 25px;
        }
      }
    }
  }

  .horizontal-menu { margin-left: auto; margin-right: 0; @include transition;
    ul {
      display: flex;flex-wrap: wrap;margin: 0;padding: 0;
    }

    .horizontal-main-menu {
     display: flex;flex-wrap: wrap;margin: 0;padding: 0;

      li {
       margin: 0;margin-left: 40px;padding: 0;list-style: none;position: relative;

        &:first-child {
          margin-left: 0;
        }

        &:hover .dropdown-menu {
          top: 100%;
          display: block;

          .dropdown-menu {
            display: none;
          }
        }

        .dropdown-menu { min-width: 200px;display: inline-block;position: absolute;left: -35px;top: 120%;background: #73efcc;margin: 0;padding: 10px 0;border: none;border-radius: 0;display: none; @include transition;
          a {
            &:before, &:after {
              display: none !important;
            }
          }

         

          li {
           width: 100%;margin: 0;padding: 0 25px;white-space: nowrap;position: relative;

            &:hover .dropdown-menu {
              display: block;

              .dropdown-menu {
                display: none;
              }
            }

            ul {
              background: #6bdcbc;
              top: 0 !important;
              left: 100%;

             

              li {
                width: 100%;

                &:hover .dropdown-menu {
                  display: block !important;
                }

                .dropdown-menu {
					top: 0;
                  left: auto;
                  right: 100%;
                  background: #5ec3a7;

                  &:before {
                   content: "";border-color: transparent transparent #5ec3a7 transparent;right: -15px;left: auto;top: 30px;transform: rotate(90deg);
                  }
                }
              }
            }

            a {
              padding: 6px 0;
              font-size: 14px;
              color: #090c16;
              line-height: 1;

              &:hover {
                border-color: transparent;
                color: #090c16;
              }
            }
          }
        }

        i {
          font-size: 9px;
          color: #fff;
          margin-left: 5px;
          margin-top: 3px;
        }

        a {
          font-weight: 600;
          color: #fff;
          padding: 0;
          font-size: 13px;
          display: inline-block;
          position: relative;
          z-index: 2;

          &:hover {
            text-decoration: none;
            background: none;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            transition: width 0s ease, background 0.25s ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            background: #73efcc;
            transition: width 0.25s ease;
            mix-blend-mode: color;
          }

          &:hover {
            &:before {
              width: 100%;
              background: #73efcc;
              transition: width 0.25s ease;
            }

            &:after {
              width: 100%;
              background: transparent;
              transition: all 0s ease;
            }
          }
        }
      }
    }
  }

  .hamburger-menu {
    margin-right: 0;
    margin: -12px 0;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 2;

    .texts {
      display: inline-block;
      position: relative;
		margin-top: 3px;

      b {
        color: #fff;
        font-weight: 600;

        * {
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }

        &:first-child {
          display: inline-block;
        }

        &:last-child {
          position: absolute;
          left: 0;
          top: 0;

          .char {
            transform: translateY(10px);
            opacity: 0;
          }
        }

        .char {
          transition-delay: calc(10ms * var(--char-index));
        }
      }
    }

    .svg {
      margin-right: -10px;
    }

    &.active .texts b {
      &:first-child .char {
        transform: translateY(-10px);
        opacity: 0;
      }

      &:last-child .char {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

/* BOTTOM BAR */

.bottombar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  padding: 15px 60px;
  left: 0;
  bottom: -100%;
  z-index: 2;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 2.2s;

  .social-media {
    margin-left: 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      li {
        margin-right: 30px;
        padding: 0;
        list-style: none;

        a {
          font-weight: 600;
          color: #fff;
          display: block;
          position: relative;
          z-index: 2;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            transition: width 0s ease, background 0.25s ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            background: #73efcc;
            transition: width 0.25s ease;
            mix-blend-mode: color;
          }

          &:hover {
            &:before {
              width: 100%;
              background: #73efcc;
              transition: width 0.25s ease;
            }

            &:after {
              width: 100%;
              background: transparent;
              transition: all 0s ease;
            }
          }
        }
      }
    }
  }

  .audio {
    margin-right: 0;
    margin-left: auto;
    color: #fff;

    #wave {
      width: 50px;
      height: 30px;
      margin: 0 10px;

      polyline {
        transform: translateY(50%);
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 10;
      }
    }

    .texts {
      display: inline-block;
      position: relative;

      b {
        color: #fff;
        font-weight: 600;
        min-width: 20px;

        * {
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
        }

        &:first-child {
          display: inline-block;
        }

        &:last-child {
          position: absolute;
          left: 0;
          top: 0;

          .char {
            transform: translateY(10px);
            opacity: 0;
          }
        }

        .char {
          transition-delay: calc(10ms * var(--char-index));
        }
      }
    }

    &.switch .texts b {
      &:first-child .char {
        transform: translateY(-10px);
        opacity: 0;
      }

      &:last-child .char {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}

/* HEADER */

.header {
  width: 100%;
  height: 100vh;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
  background: #090c16;
  position: relative !important;
  z-index: 1;
  overflow: hidden;
}

.hero-header {
  min-width: 100vw;
}

/* PAGE HEADER*/

.page-header {
  width: 100%;
  height: 100vh;
  min-height: 560px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #090c16;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;

  * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .video-bg {
    opacity: 0;
    transform: scale(1.3);
  }

  .container-fluid {
    padding: 0 14vw;
    position: relative;
    z-index: 1;

    h1 {
      font-size: 8vw;
      font-weight: 800;
      letter-spacing: -3px;

      .char {
        opacity: 0;
        transform: translateY(120px);
        transition-delay: calc(1s + 10ms * var(--char-index));
      }
    }

    p {
      font-size: 19px;
      letter-spacing: 1px;
      opacity: 0;
      transform: translateY(50px);
      transition-delay: 1.2s;
      font-weight: 400;
    }
  }
}

/* SHOWCASE SLIDER */

.showcase-slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  

  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    .slide-image {
      width: 60%;
      height: 50%;
      position: absolute;
      left: 20%;
      top: 25%;
      background-size: cover;
      background-position: center;
      transition-delay: 0.2s;
    }
	  .slide-image-mobile {
      width: 60%;
      height: 50%;
      position: absolute;
      left: 20%;
      top: 25%;
      background-size: cover;
      background-position: center;
      transition-delay: 0.2s;
		  display: none;
    }

    .slide-inner {
      position: relative;
      z-index: 2;
      display: block;

      small {
        font-size: 12px;
        letter-spacing: 3px;
        display: inline-block;
        position: relative;
        color: #fff;
        margin-bottom: 30px;
        text-transform: uppercase;

        .char {
          opacity: 0;
          transform: translateY(10px);
          transition-delay: calc(1s + 10ms * var(--char-index));
        }

        &:after {
          content: "";
          width: 0;
          height: 1px;
          display: inline-block;
          background: #73efcc;
          margin: 3px 10px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
          transition-duration: 500ms;
          -webkit-transition-duration: 500ms;
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          transition-delay: 1.4s;
        }
      }

      h1 {
        display: block;
        color: #fff;
        font-weight: 800;
        font-size: 110px;
        letter-spacing: -5px;
        margin-bottom: 60px;

        b {
          color: #73efcc;
          margin-left: 100px;
        }

        .char {
          opacity: 0;
          transform: translateY(60px);
          transition-delay: calc(1s + 10ms * var(--char-index));
        }
      }

      .link {
        display: inline-block;
        opacity: 0;
        transition-delay: 1.4s;
        transform: translateY(40px);

        a {
          display: flex;
          flex-wrap: wrap;
          line-height: 60px;
          color: #fff;
          font-weight: 600;
          position: relative;
          padding: 8px 0;

          &:hover {
            text-decoration: none;
          }

          * {
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -ms-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }

          b {
            width: 60px;
            height: 60px;
            display: inline-block;
            line-height: 56px;
            border: 2px solid #73efcc;
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            margin-right: 20px;
          }

          .words {
            display: inline-block;
            position: relative;

            .first {
              display: inline-block;
            }

            .second {
              position: absolute;
              left: 0;
              top: 0;

              .char {
                transform: translateY(10px);
                opacity: 0;
                color: #73efcc;
              }
            }

            .char {
              transition-delay: calc(10ms * var(--char-index));
            }
          }

          &:hover {
            b {
              background: #73efcc;
              color: #090c16;
              box-shadow: 0 0 8px #73efcc;
            }

            .first .char {
              opacity: 0;
              transform: translateY(-10px);
            }

            .second .char {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }

  .swiper-controls {
    display: flex;
    flex-wrap: wrap;
    transform: rotate(-90deg);
    position: absolute;
    left: -100%;
    top: 50%;
    transform-origin: left;
    z-index: 4;
    transition-delay: 2.2s;
  }

  .swiper-button-prev, .swiper-button-next {
    width: auto;
    height: auto;
    background: none;
    position: static;
    margin: 0 10px;

    span {
      display: inline-block;
      color: #fff;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 1;
    }
  }

  .swiper-pagination {
    width: 16px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    left: auto;
    transition-delay: 2.2s;

    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      background: none;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      margin: 5px 0;
      opacity: 0.5;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}

/* ICON CONTENT BOX */

.icon-content-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  figure {
    width: 100px;
    display: flex;
    align-content: center;
    margin-top: 4px;
    margin-bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    img {
      width: auto;
      height: 50px;
    }
  }

  .content {
    width: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;

    b {
      width: 106px;
      display: inline-block;
      color: #727479;
      position: relative;
      margin-left: -23px;
      font-size: 13px;

      &:after {
        content: "";
        width: 0;
        height: 1px;
        background: #73efcc;
        position: absolute;
        left: 25px;
        top: 9px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        transition-delay: 0.2s;
      }
    }

    h6 {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 3px 0;
    }

    p {
      margin-bottom: 0;
      margin-top: 20px;
      padding-right: 15%;
      line-height: 1.8;
      font-size: 17px;

      strong {
        color: #73efcc;
      }
    }
  }
}

/* COUNTER */

.counter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .odometer {
    height: 60px;

    span {
      font-size: 44px;
    }
  }

  strong {
    font-weight: 400;
    font-size: 24px;
    color: #73efcc;
    margin-left: 5px;
  }

  small {
    width: 100%;
    display: block;
    font-size: 17px;
  }
}

/* BLOG POST */

.blog-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  font-size: 16px;

  &:last-child, &.single-post {
    margin-bottom: 0;
  }

  &.sticky {
    border: 1px solid #eee;
    padding: 30px;
    position: relative;

    &:before {
      content: "";
      width: 14px;
      height: 25px;
      background: #090c16;
      position: absolute;
      right: 30px;
      top: -10px;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 6px 7px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      right: 30px;
      top: 9px;
    }
  }

  .post-image {
    width: 100%;
    display: block;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  .post-content {
    width: 100%;
    display: block;
    padding: 0;
    background: #fff;
    position: relative;
    z-index: 2;

    .post-wor {
      width: 100%;
      display: block;
    }

    .post-date {
      width: 100%;
      display: block;
      color: #727479;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .post-title {
      width: 100%;
      display: block;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 30px;
		-ms-word-wrap: break-word;
word-wrap: break-word;

      a {
        color: #090c16;

        &:hover {
          color: #73efcc;
          text-decoration: none;
        }
      }
    }

    .post-author {
      width: 100%;
      display: block;
      margin-bottom: 40px;
      font-size: 13px;

      img {
        width: 60px;
        height: 60px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
      }

      b {
        color: #727479;
        font-weight: 400;

        a {
          color: #090c16;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .post-tags {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      padding: 0;

      li {
        display: inline-block;
        margin: 3px 0;
        margin-right: 10px;
        padding: 0;
        list-style: none;

        a {
          background: #73efcc;
          color: #090c16;
          padding: 4px 12px;
          font-size: 11px;
        }
      }
    }

    .social-share {
      width: 100%;
      float: left;
      padding: 0;
      margin-bottom: 40px;
      text-align: center;

      li {
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0;
        list-style: none;

        &.facebook a {
          background: #475993;
        }

        &.twitter a {
          background: #76a9ea;
        }

        &.google-plus a {
          background: #f34a38;
        }

        &.linkedin a {
          background: #0077b7;
        }

        &.youtube a {
          background: #f61c0d;
        }

        a {
          line-height: 44px;
          float: left;
          padding: 0 20px;
          background: #090c16;
          font-weight: 600;
          color: #fff;
          border: none;
          border-radius: 0;
        }
      }
    }

    .wp-block-button {
      width: 100%;
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .wp-block-button__link {
      background: #090c16;
      font-size: 13px;
      font-weight: 600;
      padding: 20px 40px;
      border-radius: 50px;
    }

    .wp-block-button.is-style-outline .wp-block-button__link {
      background: none;
    }

    .wp-block-cover {
      margin-bottom: 40px;

      &.has-background-dim .wp-block-cover-text {
        color: #fff;
      }
    }

    .wp-block-gallery {
      width: 100%;
      margin-bottom: 40px;

      .blocks-gallery-caption {
        font-size: 13px;
      }

      .blocks-gallery-item figure {
        width: 100%;
        position: relative;

        figcaption {
          padding: 10px;
          bottom: 0;
        }
      }
    }

    .wp-block-quote {
      padding: 0 30px;
      border-left: 3px solid #4c139c;
      color: #090c16;
      background: none;
      margin: 20px 0;

      a {
        color: #090c16;
      }

      cite {
        font-family: georgia;
        font-style: italic;
        font-size: 13px;

        br {
          display: none;
        }
      }
    }

    .blocks-gallery-grid {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .wp-block-group.has-background {
      padding: 30px;
    }

    .has-background {
      margin-bottom: 20px;
    }

    .more-link {
      display: inline-block;
      margin-top: 20px;
      font-weight: 600;
    }

    .gallery {
      display: block;
      margin-bottom: 40px;

      .gallery-item {
        position: relative;

        .gallery-caption {
          font-size: 13px;
          color: #727479;
        }

        a {
          width: 100%;
          display: block;
          margin-bottom: 10px;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .wp-block-archives {
      width: 100%;
      display: block;
      margin-bottom: 40px;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 10px;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        .comment-author-link a {
          text-decoration: none;
          font-weight: 600;
        }

        a {
          margin: 0;
          color: #090c16;
          text-decoration: underline;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }

    .wp-block-calendar {
      width: 100%;
      display: block;
      margin-bottom: 40px;

      caption {
        width: 100%;
        padding-bottom: 20px;
        font-weight: 600;
        color: #727479;
      }

      a {
        display: inline-block;
        color: #090c16;
        font-weight: 600;
        text-decoration: none;
        margin-top: 10px;
      }
    }

    .wp-block-table {
      width: 100%;
      display: block;

      a {
        color: #090c16;
      }

      table {
        width: 100%;
        border: 1px solid #f3f4f5;

        tr {
          border-bottom: 1px solid #f3f4f5;
        }

        td {
          height: 50px;
          padding: 0 20px;
        }
      }
    }

    .wp-block-search {
      width: 100%;
      display: block;
      margin-bottom: 40px;

      .wp-block-search__label {
        display: none;
      }

      input[type=search] {
        border: 1px solid #eee;
        padding: 0 15px;
      }
    }

    .wp-block-categories {
      width: 100%;
      display: block;
      margin-bottom: 40px;
    }

    .wp-block-latest-comments {
      width: 100%;
      display: block;
      padding: 0;
      margin-bottom: 40px;

      .wp-block-latest-comments__comment-author {
        text-decoration: none;
        font-weight: 600;
      }

      a {
        text-decoration: underline;
      }

      p {
        font-weight: 400;
        padding: 0;
        border: none;
        text-transform: inherit;
      }
    }

    .wp-block-latest-posts {
      padding: 0;
      margin-bottom: 40px;
    }

    .wp-block-tag-cloud {
      font-weight: 400;
      margin-bottom: 40px;

      a {
        display: inline-block;
        font-size: 13px !important;
        background: #090c16;
        color: #fff;
        padding: 0 20px;
		  &:hover{text-decoration: none; background: #73efcc; color: #090c16;}
      }
    }

    .wp-block-rss {
      margin-bottom: 40px;
    }

    .post-entry-footer {
      width: 100%;
      display: block;
      padding: 20px;
     
      margin-bottom: 30px;
     border: 1px solid #eee;
    box-shadow: 6px 6px 0 #f7f7f7;
      margin-top: 40px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;

      .cat-links, .tags-links {
        width: 100%;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        font-weight: 600;

        a {
          text-decoration: underline;
          font-weight: 400;
        }
      }

      .edit-link {
        width: 100%;
        display: block;
        font-weight: 600;

        .screen-reader-text {
          display: inline-block;
          font-weight: 400;
        }
      }
    }

    .post-navigation {
      width: 100%;
      display: block;

      .navigation {
        width: 100%;
        display: block;
        padding: 20px;
        margin-bottom: 30px;
        border: 1px solid #eee;
    box-shadow: 6px 6px 0 #f7f7f7;

        .screen-reader-text {
          font-size: 20px;
          font-weight: 600;
          border-bottom: 1px solid #eee;
          margin-bottom: 20px;
          padding-bottom: 20px;
        }

        .nav-links {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: auto;

          .nav-previous {
            flex: 1;
            width: 50%;
            padding-right: 20px;
            border-right: 1px solid #eee;
          }

          .nav-next {
            flex: 1;
            width: 50%;
            padding-left: 20px;
            text-align: right;
          }
        }
      }
    }

    .page-links {
      width: 100%;
      display: block;
      border-top: 1px solid #eee;
      padding-top: 20px;

      h6 {
        display: none;
      }

      .post-page-numbers {
        height: 60px;
        line-height: 60px;
        display: inline-block;
        border: 1px solid #eee;
        padding: 0 20px;
        font-size: 13px;
        font-weight: 600;

        &.current {
          background: #090c16;
          border-color: #090c16;
          color: #fff;
        }
      }
    }

    .size-large {
      width: 100%;
      height: auto;
    }

    code {
      background: #eee;
      padding: 4px;
      color: #090c16;
      font-family: Courier;
    }

    blockquote {
      background: #4c139c;
      color: #fff;
      padding: 30px;
      margin-top: 20px;
      margin-bottom: 20px;

      cite {
        display: block;
        margin-top: 10px;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }
    }

    h3, h4, h5, h6, strong {
      font-weight: 600;
    }

    ol, ul {
      padding-left: 20px;
    }

    u {
      text-decoration: none;
      border-bottom: 5px solid #73efcc;
    }

    .image-full {
      display: block;
      height: auto;
      margin-bottom: 30px;
    }

    .post-link-wrapper {
      width: 100%;
      display: block;
      margin-top: 30px;
    }

    .post-link {
      font-weight: 600;
      color: #090c16;
      font-size: 15px;
      display: inline-block;
      position: relative;
      z-index: 2;

      &:hover {
        text-decoration: none;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        width: 0;
        transition: width 0s ease, background 0.25s ease;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -1px;
        height: 4px;
        width: 0;
        background: #73efcc;
        transition: width 0.25s ease;
        mix-blend-mode: color;
      }

      &:hover {
        &:before {
          width: 100%;
          background: #73efcc;
          transition: width 0.25s ease;
        }

        &:after {
          width: 100%;
          background: transparent;
          transition: all 0s ease;
        }
      }
    }
  }
}

/* EXTRA FIXES */

table {
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 30px;

  tr {
    padding: 15px 0;

    th, td {
      padding: 15px;
      border: 1px solid #eee;
    }
  }
}

.tag-content-2 {
  position: relative;

  /*p{font-weight: 600; border-bottom: 1px solid #eee; padding-bottom: 20px; text-transform: uppercase;}*/

  .screen-reader-text {
    display: none;
  }
}

.post-1788 .post-entry-footer {
  margin-top: 200px !important;
}

.post-501 p {
  overflow: hidden;
}

.post-password-form {
  label {
    width: 100%;
  }

  input {
    &[type=password] {
      width: 100%;
      border: 1px solid #eee;
      padding: 0 15px;
      margin-top: 10px;
    }

    &[type=submit] {
      margin-top: 5px;
    }
  }
}

.page-links {
  width: 100%;
  display: block;
  border-top: 1px solid #eee;
  padding-top: 40px;
  font-size: 16px;

  h6 {
    display: none;
  }

  .post-page-numbers {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border: 1px solid #eee;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 600;

    &.current {
      background: #090c16;
      border-color: #090c16;
      color: #fff;
    }
  }
}

.post-entry-footer {
  width: 100%;
  display: block;
  padding: 20px;
  border: 5px solid #090c16;
  margin-bottom: 30px;
  font-size: 16px;
  border-left: 1px solid #090c16;
  border-top: 1px solid #090c16;
  margin-top: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  .cat-links, .tags-links {
    width: 100%;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #090c16;
    font-weight: 600;

    a {
      text-decoration: underline;
      font-weight: 400;
    }
  }

  .edit-link {
    width: 100%;
    display: block;
    font-weight: 600;

    .screen-reader-text {
      display: inline-block;
      font-weight: 400;
    }
  }
}

.post-comment {
  width: 100%;
  display: block;
  padding: 20px;
  margin: 30px 0;    border: 1px solid #eee;
    box-shadow: 6px 6px 0 #f7f7f7;

  .comments-title {
    width: 100%;
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .comment-list {
    width: 100%;
    display: block;
    margin-bottom: 60px;
    padding: 0 !important;

    li {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      padding: 0;
      list-style: none;

      .comment-list {
        margin-bottom: 20px;
      }

      .comment-content {
        width: calc(100% - 100px);
        display: inline-block;

        p {
          &:empty {
            display: none;
          }

          margin-bottom: 10px;
        }

        h4 {
          font-size: 18px;
          font-weight: 600;
        }

        small {
          width: 100%;
          display: block;
          margin-bottom: 5px;
          opacity: 0.6;
        }

        .comment-reply-link {
          display: inline-block;
          padding: 3px 8px;
          background: #090c16;
          color: #fff;
          font-size: 12px;
          font-weight: 600;

          &:hover {
            background: #73efcc;
            color: #090c16;
            text-decoration: none;
          }
        }
      }

      .comment-avatar {
        margin-right: 20px;

        &:empty {
          display: none;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
  }

  .comment-form {
    width: 100%;
    display: block;

    .comment-respond {
      width: 100%;
      display: block;

      .comment-reply-title {
        width: 100%;
        display: block;
        font-weight: 600;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      form {
        position: relative;

        .comment-notes {
          display: block;
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .comment-form-cookies-consent {
          padding: 0 15px;

          input[type=checkbox] {
            margin-right: 10px;
          }

          label {
            width: auto;
            display: inline-block;
          }
        }

        .logged-in-as {
          font-weight: 400;
          text-transform: inherit;
          border: none;
          padding: 0;
          font-size: 16px;
          margin-bottom: 20px;

          a {
            text-decoration: underline;
          }
        }

        label {
          width: 100%;
          display: block;
          font-size: 13px;
          color: #727479;
        }

        input {
          &[type=text], &[type=email] {
            width: 100%;
            display: block;
            border: 1px solid #dadada;
            padding: 0 15px;
          }
        }

        textarea {
          width: 100%;
          display: block;
          border: 1px solid #dadada;
          padding: 15px;
          background: none;
        }
      }
    }
  }
}

/* BLOG SIDEBAR */

.sidebar { width: 100%; display: flex; flex-wrap: wrap; padding-left: 60px; font-size: 16px;
	.widget { width: 100%; display: block; margin-bottom: 50px; background: #fff; padding: 40px; padding-top: 0; border: 1px solid #eee; box-shadow: 6px 6px 0 #f7f7f7; position: relative;
    strong { font-weight: 600; }
		.categories { width: 100%; display: block; margin: 0; padding: 0; font-size: 16px;
			li {width: 100%; display: block; margin: 0; padding: 3px 0; list-style: none;
				a {margin: 0;
          &:hover { color: #73efcc; text-decoration: none; } }
        span { float: right; opacity: 0.5; } } }

    .tags {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 0;
        list-style: none;

        a {
          color: #fff;
          background: #73efcc;
          display: inline-block;
          font-size: 13px;
          padding: 3px 6px;

          &:hover {
            color: #73efcc;
            background: #090c16;
            text-decoration: none;
          }
        }
      }
    }

    .side-gallery {
      display: block;
      margin-left: -1px;
      margin-right: -1px;
      padding: 0;

      li {
        width: 50%;
        float: left;
        margin: 0;
        padding: 1px;
        list-style: none;
      }
    }

    p {
      margin-bottom: 0;
    }

    form {
      margin: 0;

      input[type=search] {
        width: 100%;
        margin-bottom: 10px;
      }

      button[type=submit] {
        background: #73efcc;
        color: #090c16;
        font-size: 20px;
      }
    }

    .widget-title {
      width: 100%;
      display: block;
      border-bottom: 4px solid #eee;
      line-height: 1;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 30px 0;
      margin-bottom: 30px;
      color: #090c16;
      position: relative;
    }
  }

  .widget_search {
    width: 100%;

    .widget-title {
      margin-bottom: 0;
    }

    .search-form {
      padding-top: 40px;
    }

    .screen-reader-text {
      display: none;
    }

    label {
      width: 100%;
      display: block;
    }

    input[type=search] {
      border: 1px solid #eee;
      padding: 0 15px;
    }
  }

  .widget_archive {
    position: relative;

    .screen-reader-text {
      display: none;
    }

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_calendar {
    position: relative;

    caption {
      padding-bottom: 0;
      color: #727479;
      font-weight: 600;
    }

    table {
      width: 100%;

      thead {
        margin-bottom: 10px;

        th {
          height: 50px;
          border-bottom: 1px solid #eee;
        }
      }

      tbody {
        margin-bottom: 10px;

        td {
          height: 30px;
        }
      }

      tfoot {
        padding-top: 10px;

        td {
          border-top: 1px solid #eee;
          height: 50px;

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  .widget_categories {
    position: relative;

    .screen-reader-text {
      display: none;
    }

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        ul {
          padding-left: 20px;
        }

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_pages {
    position: relative;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        ul {
          padding-left: 20px;
        }

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_meta {
    position: relative;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_recent_comments {
    position: relative;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 10px;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        .comment-author-link a {
          text-decoration: none;
          font-weight: 600;
        }

        a {
          margin: 0;
          color: #090c16;
          text-decoration: underline;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_recent_entries {
    position: relative;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_rss {
    position: relative;

    .rss-widget-icon {
      display: none;
    }

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        margin-bottom: 10px;
        padding: 3px 0;
        list-style: none;

        &:last-child {
          margin-bottom: 0;
        }

        .rss-date {
          width: 100%;
          display: block;
          font-size: 12px;
          color: #727479;
          margin: 5px 0;
        }

        .rssSummary {
          width: 100%;
          display: block;
          margin-bottom: 5px;
        }

        cite {
          display: block;
          font-family: georgia;
          color: #727479;
        }

        a {
          margin: 0;
          color: #090c16;
          font-weight: 600;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }

  .widget_text {
    position: relative;

    .wp-caption-text {
      margin-top: 0;
    }

    img {
      height: auto;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
    }

    p {
      margin-bottom: 20px;

      &:empty {
        display: none;
      }
    }
  }

  .widget_tag_cloud {
    position: relative;

    .tagcloud {
      width: 100%;
      display: block;

      a {
        color: #090c16;
        background: #73efcc;
        display: inline-block;
        font-size: 12px !important;
        padding: 3px 6px;
        margin-right: 5px;
        margin-bottom: 5px;

        &:hover {
          color: #fff;
          background: #090c16;
          text-decoration: none;
        }
      }
    }
  }

  .widget_nav_menu {
    position: relative;

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      font-size: 16px;

      li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 3px 0;
        list-style: none;
        color: #727479;

        ul {
          padding-left: 17px;
        }

        a {
          margin: 0;
          color: #090c16;

          &:hover {
            color: #73efcc;
            text-decoration: none;
          }
        }
      }
    }
  }
}

/* CASE CONTENT */

.case-content {
  display: block;

  h5 {
    font-weight: 600;
    margin: 0;
    font-size: 25px;
  }

  h6 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
    margin-top: 30px;
  }
}

.atheus-image-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

/* WORKS */

.works {
  width: calc(100% - 120px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
  padding: 0;

  * {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  li {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;

    figure {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 0;

      &.animated figcaption {
        opacity: 1;
      }

      img {
        width: 100%; float: left;
      }

      figcaption {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        padding: 30px;
        color: #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
        background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
        background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
        background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
        background-image: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #131314 100%);
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition-delay: 0.5s;

        h5 {
          font-size: 4vw;
          font-weight: 800;
          margin: 0;

          a {
            color: #fff;

            &:hover {
              color: #73efcc;
              text-decoration: none;
            }
          }
        }

        small {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/* TEAM SLIDER */

.team-slider {
  width: 100%;
  display: block;
  overflow: hidden;

  * {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .swiper-slide .team-member {
    figure .image-inner {
      opacity: 0.5;
      transform: translateY(50px);
    }

    .content {
      opacity: 0;
      transform: translateY(30px);
    }
  }

  .swiper-slide-active .team-member {
    figure .image-inner, .content {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-pagination-progressbar {
    position: absolute;
    left: 0;
    bottom: 75px;
    top: auto;
    height: 1px;
    background: #eee;

    .swiper-pagination-progressbar-fill {
      background: #73efcc;
    }
  }
}

/* TEAM MEMBERS */

.team-member {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  figure {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
  }

  .content {
    width: 100%;

    h6 {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }

    small {
      width: 100%;
      display: block;
      margin-bottom: 5px;
      color: #727479;
    }

    ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        list-style: none;

        a {
          font-weight: 600;
          color: #090c16;
          display: inline-block;
          position: relative;
          z-index: 2;
          font-size: 11px;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            transition: width 0s ease, background 0.25s ease;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -1px;
            height: 4px;
            width: 0;
            background: #73efcc;
            transition: width 0.25s ease;
            mix-blend-mode: color;
          }

          &:hover {
            &:before {
              width: 100%;
              background: #73efcc;
              transition: width 0.25s ease;
            }

            &:after {
              width: 100%;
              background: transparent;
              transition: all 0s ease;
            }
          }
        }
      }
    }
  }
}

/* AWARDS BOX */

.awards-box {
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #090c16;
  padding: 30px;
  text-align: center;
  position: relative;

  svg {
    fill: #fff;
  }

  .odometer {
    color: #fff;
    font-size: 10vw;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    padding: 0;
    line-height: 1;
    opacity: 0.1;
  }
}

.awards-box-content {
  width: 100%;
  display: block;

  ul {
    font-size: 16px;
    margin: 0;
    padding-left: 0;

    li {
      width: 100%;
      margin-bottom: 5px;
      padding: 0;
      list-style: none;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* CONTACT FORM */

.wpcf7-form {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  padding-right: 100px;

  .form-group {
    display: block;
    position: relative;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wpcf7-validation-errors {
    width: 100%;
    display: block;
    border: none;
    background: red;
    color: #fff;
    padding: 40px 30px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }

  span.wpcf7-not-valid-tip {
    margin-top: 10px;
    font-size: 13px;
  }

  .wpcf7-not-valid {
    border-bottom: 1px solid red;
  }

  p {
    width: 100%;
    display: block;
    line-height: 1;
    margin-bottom: 5px;

    br {
      display: none;
    }
  }

  small {
    display: block;
    font-size: 13px;
    opacity: 0.4;
  }

  input {
    &[type=text], &[type=email] {
      background: none;
      position: relative;
      z-index: 2;
      width: 100%;
    }
  }

  textarea {
    position: relative;
    z-index: 2;
    width: 100%;
  }
}

/* MAP HOLDER */

.map-wrapper {
  width: 100%;
  display: block;
  margin-bottom: 75px;

  iframe {
    width: 100%;
    height: 400px;
    display: block;
    border: none;
  }
}

/* SIDE ADDRESS */

.address {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background: #4c139c;
  padding: 75px 50px;
  color: #fff;

  b {
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 12px;
  }

  p {
    width: 100%;
  }

  a {
    color: #fff;
    margin-top: 30px;
    font-size: 12px;

    &:hover {
      color: #fff;
    }
  }
}

/* CLIENTS */

.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;

  * {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .client-item.animated {
    opacity: 1;

    &.figcaption .word .char {
      transform: translateY(10px);
      opacity: 0;
      transition-delay: calc(10ms * var(--char-index));
    }
  }

  .vc_row {
    margin-left: 0;
    margin-right: 0;

    .vc_column_container {
      padding-left: 0;
      padding-right: 0;

      > .vc_column-inner {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .vc_inner {
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:after {
        content: "";
        width: 1px;
        height: 100vh;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
  }

  .client-item {
    width: 100%;
    display: block;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    text-align: center;
    opacity: 0;
    transition: all 2s ease-in-out;

    figure {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;

      &:hover {
        figcaption {
          opacity: 1;
          top: 0;

          .char {
            opacity: 1 !important;
            transform: translateY(0) !important;
          }
        }

        img {
          opacity: 0;
        }
      }

      img {
        width: 100%;
        display: inline-block;
        padding: 40px 80px;
      }

      figcaption {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 600;

        .char {
          transform: translateY(10px);
          opacity: 0;
          transition-delay: calc(10ms * var(--char-index));
          animation: none;
        }
      }
    }

    &:nth-child(1n) {
      transition-delay: 0.1s;
    }

    &:nth-child(2n) {
      transition-delay: 0.2s;
    }

    &:nth-child(3n) {
      transition-delay: 0.3s;
    }

    &:nth-child(4n) {
      transition-delay: 0.4s;
    }

    &:nth-child(5n) {
      transition-delay: 0.5s;
    }

    &:nth-child(6n) {
      transition-delay: 0.6s;
    }

    &:nth-child(7n) {
      transition-delay: 0.7s;
    }

    &:nth-child(8n) {
      transition-delay: 0.8s;
    }

    &:nth-child(9n) {
      transition-delay: 0.9s;
    }

    &:nth-child(10n) {
      transition-delay: 1s;
    }

    &:nth-child(11n) {
      transition-delay: 1.1s;
    }

    &:nth-child(12n) {
      transition-delay: 1.2s;
    }

    &:nth-child(13n) {
      transition-delay: 1.3s;
    }

    &:nth-child(14n) {
      transition-delay: 1.4s;
    }

    &:nth-child(15n) {
      transition-delay: 1.5s;
    }

    &:nth-child(16n) {
      transition-delay: 1.6s;
    }

    &:nth-child(17n) {
      transition-delay: 1.7s;
    }

    &:nth-child(18n) {
      transition-delay: 1.8s;
    }

    &:nth-child(19n) {
      transition-delay: 1.9s;
    }

    &:nth-child(20n) {
      transition-delay: 2s;
    }
  }
}

/* FOOTER WIDGET */

.footer-widget {
  width: 100%;
  display: block;
  margin-bottom: 40px;

  .widget-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 13px;
    opacity: 0.5;
  }

  .screen-reader-text {
    display: none;
  }

  .calendar_wrap {
    width: 100%;
    display: block;

    caption {
      font-size: 13px;
      font-weight: 600;
      color: #fff;
    }

    table {
      width: 100%;
    }
  }

  .recentcomments {
    margin-bottom: 10px !important;

    .comment-author-link {
      text-decoration: underline;

      a {
        font-weight: 400;
      }
    }

    a {
      font-weight: 600;
    }
  }

  .rss-widget-icon {
    display: none;
  }

  .rsswidget {
    margin-bottom: 5px;
    font-weight: 600;
  }

  .rss-date {
    width: 100%;
    display: block;
    font-size: 13px;
    opacity: 0.3;
  }

  .rssSummary {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .textwidget {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .search-form {
    width: 100%;
    display: block;

    label {
      width: 100%;
    }
  }

  .tagcloud {
    width: 100%;
    display: block;

    a {
      font-size: 13px !important;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

  img {
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
  }

  strong {
    font-weight: 600;
  }

  cite {
    width: 100%;
    display: block;
    font-family: georgia;
    font-size: 13px;
    margin-bottom: 30px;
  }

  input[type=search] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
  }

  ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      display: block;
      margin: 2px 0;
      padding: 0;
      list-style: none;

      ul {
        padding-left: 10px !important;
      }
    }
  }
}


/* FOOTER */
.footer { width: 100%; display: flex; flex-wrap: wrap; color: #fff; background-color: #090c16;
  .section-titles { border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: 100px 0; margin-bottom: 50px;
	  .custom-link { color: #fff; }}
  .footer-inner { width: 100%; font-size: 16px;
    h6 {
      font-weight: 600;
      margin-bottom: 20px;
      font-size: 13px;
      opacity: 0.5;
    }

    address, p {
      margin: 0;
    }

    a {
      color: #fff;
      display: inline-block;
      position: relative;
      z-index: 2;

      &:hover {
        text-decoration: none;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 4px;
        width: 0;
        transition: width 0s ease, background 0.25s ease;
        mix-blend-mode: color;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 2px;
        height: 4px;
        width: 0;
        background: #73efcc;
        transition: width 0.25s ease;
        mix-blend-mode: color;
      }

      &:hover {
        &:before {
          width: 100%;
          background: #73efcc;
          transition: width 0.25s ease;
        }

        &:after {
          width: 100%;
          background: transparent;
          transition: all 0s ease;
        }
      }
    }

    .social-media {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: auto;
        margin: 0;
        margin-right: 40px;
        padding: 0;
        list-style: none;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;

    .copyright {
      margin-left: 0;
    }

    .creation {
      margin-left: auto;
      margin-right: 0;

      a {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .section-titles h2, .icon-content-box .content p {
    padding-right: 0;
  }
}

/* RESPONSIVE TABLET  */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  body {
    cursor: inherit !important;
  }

  textarea, input {
    -webkit-appearance: none;
    border-radius: 0;
  }
	.showcase-slider .swiper-slide .slide-image-mobile{display: block;}
  .section-spacing {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .menu-navigaton:after {
    content: "";
    width: 100%;
    height: 20%;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: url("../images/touch-icon.png") no-repeat;
    background-size: contain;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    transition-delay: 1s;
  }

  .menu-navigation.active:after {
    opacity: 0.05;
  }

  .custom-cursor, .spacing-50, .spacing-100 {
    display: none;
  }

  .showcase-slider .swiper-slide .slide-inner h1 {
    font-size: 80px;
  }

  .section-titles {
    h2 {
      font-size: 38px;
    }

    &.no-spacing {
      margin-bottom: 50px !important;
    }
  }

  .page-header .container-fluid {
    padding: 0 60px;
  }

  .counter {
    .odometer span {
      font-size: 38px;
    }

    small {
      font-size: 15px;
    }
  }

  .icon-content-box {
    margin: 30px 0;

    .content {
      p {
        margin-top: 10px;
      }

      b {
        margin-left: 0;
      }

      h6 {
        width: 100%;
      }
    }
  }

  .page-header .container-fluid h1 {
    font-size: 15vw;
  }

  .clients li figure img {
    padding: 20px 10px;
  }

  .side-address {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .works li {
    width: 100%;
  }

  .blog-post .post-content {
    padding: 0;
  }

  .sidebar {
    padding-left: 0;
    margin-top: 60px;
  }

  .clients .client-item figure img {
    padding: 30px 40px;
  }

  .footer .footer-inner {
    address, p {
      margin-bottom: 30px;
    }
  }
}

/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .topbar, .bottombar {
    padding: 15px;
  }

  .header, .page-header {
    min-height: inherit;
  }

  .section-titles h5 {
    letter-spacing: 0;
  }

  .animated {
    h5:after {
      width: 80px !important;
    }

    b:after {
      width: 40px !important;
    }
  }

  .showcase-slider .swiper-slide .slide-inner {
    small {
      display: none;
    }

    h1 {
      font-size: 50px;
    }
  }

  .page-loaded .showcase-slider {
    .swiper-slide.swiper-slide-active .slide-inner small:after {
      width: 60px !important;
    }

    .swiper-controls, .swiper-pagination {
      display: none;
    }

    .swiper-slide.swiper-slide-active .slide-inner small:after {
      width: 80px;
    }
  }

  .works {
    width: calc(100% - 30px);
    margin: 0 15px;
  }

  .clients li {
    width: 50%;

    figure img {
      padding: 20px;
    }
  }

  .page-header .container-fluid {
    padding: 0 15px;
  }

  .counter {
    margin: 15px 0;
  }

  .awards-box {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .accordion .card .card-header a {
    font-size: 26px;
  }

  .section-titles h2 {
    font-size: 30px;
  }

  .page-header .container-fluid {
    h1 {
      font-size: 20vw;
    }

    p {
      font-size: 15px;
    }
  }

  .blog-post .post-content .post-title {
    font-size: 22px;
  }

  .bottombar .social-media ul li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a .char {
      display: none;

      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: inline-block;
      }
    }
  }

  .topbar {
    .languages {
      display: none;
    }

    .hamburger-menu {
      margin-left: auto;
      display: flex;
    }
  }

  .menu-container .main-menu li a {
    font-size: 12vw;
  }

  .custom-list-sides li {
    width: 100%;
  }

  .team-member figure {
    padding: 0 10%;
  }

  .awards-box .odometer {
    font-size: 25vw;
  }

  .showcase-slider .swiper-slide .slide-inner h1 {
    letter-spacing: 0;

    b {
      margin-left: 0;
    }
  }

  .works li figure figcaption h5 {
    font-size: 8vw;
  }

  .brabus-text-block .custom-list-sides {
    margin-top: 30px;
  }

  .vc_custom_1581272788097 {
    display: none;
  }

  .content-section .vc_custom_1581282754740 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .clients .client-item figure img {
    padding: 25px 40px;
  }

  .wpcf7-form {
    padding-right: 0;
  }

  .wow.animated h5:after {
    width: 80px !important;
  }

  .sidebar .widget {
    padding: 25px;

    .widget-title {
      padding: 25px 0;
      margin-bottom: 20px;
    }
  }

  .topbar {
    width: 100%;

    .horizontal-menu {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      padding-top: 76px;
      overflow: auto;
      padding-right: 50px;

      &.active {
        top: 0;
        opacity: 1;
        visibility: visible;
      }

      .horizontal-main-menu {
        width: 100%;

        li {
          width: 100%;
          margin: 10px 0;
          text-align: right;
          position: relative;
          line-height: 1;

          &.menu-item-has-children:after {
            content: "";
            width: 8px;
            height: 8px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            position: absolute;
            right: -20px;
            top: 10px;
            transform: rotate(45deg);
            cursor: pointer;
          }

          .dropdown-menu {
            width: 100%;
            float: none;
            position: static;
            margin-top: 0;
            margin-bottom: 10px;
            padding: 0;
            background: none !important;

            &:before {
              display: none;
            }

            li {
              width: 100%;
              margin: 0;
              padding: 0;
              line-height: 1;
              position: relative;

              a {
                &:before, &:after {
                  display: none !important;
                }

                width: auto;
                font-weight: 600;
                font-size: 5vw;
                display: inline-block;
                position: relative;
                color: #fff;

                &:hover {
                  color: #fff;
                }
              }

              .dropdown-menu {
                background: none;

                li {
                  width: 100%;

                  &.menu-item-has-children:after {
                    top: 7px;
                  }

                  .dropdown-menu {
                    background: none;

                    li {
                      width: 100%;

                      a {
                        width: auto;
                        font-weight: 400;
                        font-size: 3vw;
                        display: inline-block;
                        color: #fff;
                      }
                    }
                  }

                  a {
                    width: auto;
                    font-weight: 400;
                    font-size: 4vw;
                    display: inline-block;
                    color: #fff;
                  }
                }
              }
            }
          }

          a {
            font-size: 7vw;
            font-weight: 800;
            position: relative;
            color: #fff;

            &:focus, &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* KEYFRAMES */
@keyframes texteffect {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes texteffect {
  0% {
    -webkit-transform: translateY(50%);
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
}

@-moz-keyframes texteffect {
  0% {
    -moz-transform: translateY(50%);
    opacity: 0;
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes texteffect {
  0% {
    -o-transform: translateY(50%);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}
