/*
Theme Name: Innovtechsol
Theme URI: https://innovtechsol.com/
Author: Innovtechsol UK
Author URI: https://innovtechsol.co.uk
Description: This theme is custom made for Rocketalgo Analytics Pvt. Ltd. We develop dynamic and responsive WordPress websites for business. For more details contact us at info@innovtechsol.com
Version: 1.3.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: atheus
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
main {
	margin-top: 0;
}

header {
	position: static;
}

.header {
	position: static;
}

body {
	padding: 0;
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: flex;
	margin-left: auto;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.screen-reader-text {
	display: block;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.bypostauthor {
	display: block;
}

section.icon-content-block {
	overflow: visible;
}

.single-post .page-header .container h1 {
	font-size: 5vw;
}

.wp-block-cover, .wp-block-cover-image {
	height: auto;
}

.page-content .screen-reader-text {
	display: none;
}

.calendar_wrap table {
	text-align: center;
}

.calendar_wrap table tr th {
	padding: 0;
}

.calendar_wrap table tr td {
	padding: 0;
}

.blog-post .post-content .more-link {
	border-bottom: 2px solid #090c16;
}

.blog-post .post-content .more-link:hover {
	border-bottom: 2px solid #73efcc;
	text-decoration: none;
}